{% extends "home/base.html" %}
{% load static %}

{% block content %}
{% autoescape off %}
<style>
.link {
  fill: none;
  stroke: #969696;
  stroke-opacity: .1;
}
.link:hover {
  stroke-opacity: .3;
}

.dt-button.btn-primary {
    background-color: #007bff;
    color: #fff;
}
.dt-button.btn-success {
    background-color: #28a745;
    color: #fff;
}

</style>
<div class="container body-content">
    {% comment %} <!-- Displaying the ligand name with empty col-md-8 -->
    <div class="row">
        <div class="col-md-4">
            <h2>{{ ligand.ligand_name }}</h2>
        </div>
        <div class="col-md-8">
            <!-- This column is intentionally left empty to occupy the remaining space -->
        </div>
    </div> {% endcomment %}

    <!-- Displaying the ligand name -->
    <div class="row">
        <div class="col-md-4">
            <h2>{{ ligand.ligand_name }}</h2>
        </div>
    </div>
    
    <!-- Tabs for Agent/Drug and Bioactivity -->
    <ul class="nav nav-tabs">
        <li class="nav-item active">
            <a class="nav-link active" data-toggle="tab" href="#bioactivity" id="bioactivity_tab">Bioactivity</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#agent_drug" id="agent_drug_tab">Agent/Drug</a>
        </li>
		{% if ligand.labels.endogenous == 'Endogenous' %}
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#endogenous" id="endogenous_tab">Endogenous</a>
			</li>
		{% endif %}
    </ul>
    <br/>
    <br/>
    
    <div class="tab-content">
        <!-- Bioactivity Tab Pane -->
        <div class="tab-pane container active" id="bioactivity">
            <!-- Ligand Information and Chemical Properties -->
            <div class="row">
                <!-- Column 1: Ligand Information (1/3 width) -->
                <div class="col-md-4">
                    <h3>{{ ligand.ligand_name }}</h3>
                    {% if ligand.picture is not None %}
                        {{ ligand.picture|safe }}
                    {% else %}
                        <h3>Image not available</h3>
                    {% endif %}
                    <br/>
                    <table class="table table-striped table-bordered">
                        <tr>
                            <td>SMILES</td>
                            <td class="name" style="max-width: 350px">{{ ligand.ligand_smiles }}</td>
                        </tr>
                        <tr>
                            <td>InChIKey</td>
                            <td>{{ ligand.ligand_inchikey }}</td>
                        </tr>
                        {% if ligand.type == 'Peptide' %}
                        <tr>
                            <td>Sequence</td>
                            <td class="name" style="max-width: 350px">{{ ligand.sequence }}</td>
                        </tr>
                        {% endif %}
                    </table>
                </div>
                
                <!-- Column 2: Chemical Properties (1/3 width) -->
                <div class="col-md-4">
                    <h3>Chemical Properties</h3>
                    <table class="table table-striped table-bordered">
                        <tr>
                            <td>Hydrogen bond acceptors</td>
                            <td>{{ ligand.hacc }}</td>
                        </tr>
                        <tr>
                            <td>Hydrogen bond donors</td>
                            <td>{{ ligand.hdon }}</td>
                        </tr>
                        <tr>
                            <td>Rotatable bonds</td>
                            <td>{{ ligand.rotatable }}</td>
                        </tr>
                        <tr>
                            <td>Molecular weight (Da)</td>
                            <td>{{ ligand.mw|floatformat:1 }}</td>
                        </tr>
                    </table>
                </div>
                
                <!--Column 3: Database connections (1/3 width)-->
                <div class="col-md-4">
                    <!-- Database connections -->
                    <h3>Database connections</h3>
                    <table class="table table-striped table-bordered">
                        <tr>
                            <td>
                                <ul style="padding: 0; list-style-type:none">
                                    {% for ex in ligand.wl %}
                                    <li><a href="{{ ex.link }}" target="_blank">{{ ex.name }}</a></li>
                                    {% endfor %}
                                    <li><a href="https://gpcrdb.org/ligand/{{ ligand.ligand_id }}/info" target="_blank">GPCRdb</a></li>
                                </ul>
                            </td>
                        </tr>
                        {% if structure %}
                        <tr>
                            <td>Structure pdb</td>
                            <td>
                                {% for data in structure %}
                                <a href="https://gpcrdb.org/interaction/{{ data.structure_pdb }}" target="_blank">{{ data.structure_pdb }}</a>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endif %}
                        {% if mutations %}
                        <tr>
                            <td>Ligand site mutations</td>
                            <td>
                                {% for data in mutations %}
                                <a href="#" onclick="populate_selection('{{ data.id }}')">{{ data.name }}</a>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
            <br/>

            
            <!-- Bioactivities -->
            <hr>
			<h3>Bioactivities</h3>
			<ul class="nav nav-tabs">
				<li class="nav-item active">
					<a class="nav-link active" data-toggle="tab" href="#affinity">Affinity</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#potency">Potency</a>
				</li>
			</ul>
			<div class="tab-content">
				<!-- Affinity table -->
				<div class="tab-pane container active" id="affinity">
					<table width="100%" class="display compact" id="AssayAffinityTable">
						<thead>
							<!-- Dummy Header Row for Complex Header Fix -->
							<tr>
								<td colspan="10" style="text-align: center" data-dt-order="disable"></td>
							</tr>

							<!-- Super Header Row -->

							<tr style="padding-top: 10px; font-size: 14px; white-space: nowrap;">
								<th colspan="5" style="text-align:center">Receptor</th>
								<th colspan="4" style="text-align:center;border-left: 1px solid #cccccc;">Activity</th>
								<th colspan="1" style="text-align:center;border-left: 1px solid #cccccc;">Source</th>
							</tr>

							<!-- Header Row -->
							<tr>
								<th style="text-align: center;">Protein</th>
								<th style="text-align: center;">Gene</th>
								<th style="text-align: center;">Species</th>
								<th style="text-align: center;">Family</th>
								<th style="text-align: center;">Class</th>
								<th style="border-left: 1px solid #cccccc; text-align: center;">Type</th>
								<th style="text-align: center;">Min</th>
								<th style="text-align: center;">Avg</th>
								<th style="text-align: center;">Max</th>
								<th style="border-left: 1px solid #cccccc; text-align: center;">Database</th>
							</tr>
							<!-- Filter Row for header -->
							<tr>
								<td style="text-align: center;" data-dt-order="disable"></td>
								<td style="text-align: center;" data-dt-order="disable"></td>
								<td style="text-align: center;" data-dt-order="disable"></td>
								<td style="text-align: center;" data-dt-order="disable"></td>
								<td style="text-align: center;" data-dt-order="disable"></td>
								<td style="text-align: center;border-left: 1px solid #cccccc;" data-dt-order="disable"></td>
								<td style="text-align: center;" data-dt-order="disable"></td>
								<td style="text-align: center;" data-dt-order="disable"></td>
								<td style="text-align: center;" data-dt-order="disable"></td>
								<td style="text-align: center;border-left: 1px solid #cccccc;" data-dt-order="disable"></td>
							</tr>
						</thead>
						<tbody>
							<!-- Data will be populated via DataTables -->
						</tbody>
					</table>
				</div>
				
				<!-- Potency table -->
				<div class="tab-pane container" id="potency">
					<table width="100%" class="display compact" id="AssayPotencyTable">
						<thead>
							<!-- Dummy Header Row for Complex Header Fix -->
							<tr>
								<td colspan="10" style="text-align: center" data-dt-order="disable"></td>
							</tr>

							<!-- Super Header Row -->

							<tr style="padding-top: 10px; font-size: 14px; white-space: nowrap;">
								<th colspan="5" style="text-align:center">Receptor</th>
								<th colspan="4" style="text-align:center;border-left: 1px solid #cccccc;">Activity</th>
								<th colspan="1" style="text-align:center;border-left: 1px solid #cccccc;">Source</th>
							</tr>

							<!-- Header Row -->
							<tr>
								<th style="text-align: center;">Protein</th>
								<th style="text-align: center;">Gene</th>
								<th style="text-align: center;">Species</th>
								<th style="text-align: center;">Family</th>
								<th style="text-align: center;">Class</th>
								<th style="border-left: 1px solid #cccccc; text-align: center;">Type</th>
								<th style="text-align: center;">Min</th>
								<th style="text-align: center;">Avg</th>
								<th style="text-align: center;">Max</th>
								<th style="border-left: 1px solid #cccccc; text-align: center;">Database</th>
							</tr>
							<!-- Filter Row for header -->
							<tr>
								<td style="text-align: center;" data-dt-order="disable"></td>
								<td style="text-align: center;" data-dt-order="disable"></td>
								<td style="text-align: center;" data-dt-order="disable"></td>
								<td style="text-align: center;" data-dt-order="disable"></td>
								<td style="text-align: center;" data-dt-order="disable"></td>
								<td style="text-align: center;border-left: 1px solid #cccccc;" data-dt-order="disable"></td>
								<td style="text-align: center;" data-dt-order="disable"></td>
								<td style="text-align: center;" data-dt-order="disable"></td>
								<td style="text-align: center;" data-dt-order="disable"></td>
								<td style="text-align: center;border-left: 1px solid #cccccc;" data-dt-order="disable"></td>
							</tr>
						</thead>
						<tbody>
							<!-- Data will be populated via DataTables -->
						</tbody>
					</table>
				</div>
			</div>
		</div>
        

        <!-- Agent/Drug -->
        <div class="tab-pane container" id="agent_drug">
            <!--Drug properties and Database connections-->
            <div class="row">
                <!-- Column 1: Ligand Information (1/3 width) -->
                <div class="col-md-4">
                    <h3>{{ ligand.ligand_name }}</h3>
                    {% if ligand.picture is not None %}
                        {{ ligand.picture|safe }}
                    {% else %}
                        <h3>Image not available</h3>
                    {% endif %}
                    <br/>
                </div>
                
                <!--Column 2: Drug properties (1/3 width)-->
                <div class="col-md-4">
                    <!-- Drug properties -->
                    <h3>Drug properties</h3>
                    <table class="table table-striped table-bordered" style="margin-right:10px">
                        <tr>
                            <td>Molecular type</td>
                            <td>{{ ligand.type }}</td>
                        </tr>
                        <tr>
                            <td>Physiological/Surrogate</td>
                            <td>{{ ligand.labels.endogenous }}</td>
                        </tr>
                        <tr>
                            <td>Approved drug</td>
                            <td>{{ ligand.labels.approved }}</td>
                        </tr>
                    </table>
					<!-- Clinical Trials Section -->
					<h3>Clinical Trials</h3>
					<div class="clinical-trials">
						
						<div class="trial-stages">
							<div class="stage">
								<span>Phase I</span>
								<span class="badge badge-i">{{ Phase_I_trials }}</span>
							</div>
							<div class="stage">
								<span>Phase II</span>
								<span class="badge badge-ii">{{ Phase_II_trials }}</span>
							</div>
							<div class="stage">
								<span>Phase III</span>
								<span class="badge badge-iii">{{ Phase_III_trials }}</span>
							</div>
							<div class="stage">
								<span>Approved</span>
								{% if Approved == 'Yes' %}
									<span class="badge badge-approved">Yes</span>
								{% else %}
									<span class="badge badge-notyet">No</span>
								{% endif %}
							</div>
						</div>
					</div>
                </div>
                <!--Column 3: Database connections (1/3 width)-->
                <div class="col-md-4">
                    <!-- Database connections -->
                    <h3>Database connections</h3>
                    <table class="table table-striped table-bordered">
                        <tr>
                            <td>
                                <ul style="padding: 0; list-style-type:none">
                                    {% for ex in ligand.wl %}
                                    <li><a href="{{ ex.link }}" target="_blank">{{ ex.name }}</a></li>
                                    {% endfor %}
                                    <li><a href="https://gpcrdb.org/ligand/{{ ligand.ligand_id }}/info" target="_blank">GPCRdb</a></li>
                                </ul>
                            </td>
                        </tr>
                        {% if structure %}
                        <tr>
                            <td>Structure pdb</td>
                            <td>
                                {% for data in structure %}
                                <a href="https://gpcrdb.org/interaction/{{ data.structure_pdb }}" target="_blank">{{ data.structure_pdb }}</a>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endif %}
                        {% if mutations %}
                        <tr>
                            <td>Ligand site mutations</td>
                            <td>
                                {% for data in mutations %}
                                <a href="#" onclick="populate_selection('{{ data.id }}')">{{ data.name }}</a>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endif %}
                    </table>
                </div>
			</div>
            <br/>
            
            <!-- Sankey plot -->
             <hr>
            <h3>Sankey plot</h3>
            {% if plot_existence == 'yes' %}
                <div id="sankey_plot"></div>
                <p>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-download"></span> Download <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                        <li>
                                <a href="javascript:saveSvgAsPng(document.getElementById('sankey'), 'sankey_{{ indication }}.png');">PNG</a>
                        </li>
                        <li>
                                <a href="javascript:saveSvgAsJpg(document.getElementById('sankey'), 'sankey_{{ indication }}.jpg');">JPG</a>
                        </li>
                        <li>
                                <a href="javascript:saveSvgAsTiff(document.getElementById('sankey'), 'sankey_{{ indication }}.tiff');">TIFF</a>
                        </li>
                        </ul>
                    </div></p>
            {% else %}
                <h4>Compound is not listed as a drug.</h4>
            {% endif %}
			<!--Drug table-->
			{% if Full_data_drug_table %}
				<hr>
				<h3>Drug Information</h3>
				<div style="font-size: 11px; white-space: nowrap;" id="table-container">
					<table width="100%" class="display compact" id="Table_drugs">
						<thead>
							<!-- Dummy Header Row for Complex Header Fix -->
							<tr>
								<td colspan="11" style="text-align: center" data-dt-order="disable"></td>
							</tr>
			  
							<!-- Super Header Row -->
							<tr style="padding-top: 10px; font-size: 14px; white-space: nowrap;">
								<th colspan="5" style="text-align:center">Target</th>
								<th colspan="4" style="text-align:center;border-left: 1px solid #cccccc;">Disease</th>
								<th colspan="2" style="text-align:center;border-left: 1px solid #cccccc;">Phase</th>
							</tr>
			  
							<!-- Header Row -->
							<tr>
								<th style="text-align: center;">Gene</th>
								<th style="text-align: center;">Protein</th>
								<th style="text-align: center;">Receptor family</th>
								<th style="text-align: center;">Ligand type</th>
								<th style="text-align: center;">Class</th>
								<th style="text-align: center;border-left: 1px solid #cccccc">Indication name</th>
								<th style="text-align: center;">ICD11</th>
								<th style="text-align: center;">ATC</th>
								<th style="text-align: center;">Association score</th>
								<th style="text-align: center;border-left: 1px solid #cccccc;">Phase</th>
								<th style="text-align: center;">Approved</th>
							</tr>
							<!-- Filter Row for header -->
							<tr>
								<td style="text-align: center;" data-dt-order="disable"></td>
								<td style="text-align: center;" data-dt-order="disable"></td>
								<td style="text-align: center;" data-dt-order="disable"></td>
								<td style="text-align: center;" data-dt-order="disable"></td>
								<td style="text-align: center;" data-dt-order="disable"></td>
								<td style="text-align: center;border-left: 1px solid #cccccc;" data-dt-order="disable"></td>
								<td style="text-align: center;" data-dt-order="disable"></td>
								<td style="text-align: center;" data-dt-order="disable"></td>
								<td style="text-align: center;" data-dt-order="disable"></td>
								<td style="text-align: center;border-left: 1px solid #cccccc;" data-dt-order="disable"></td>
								<td style="text-align: center;" data-dt-order="disable"></td>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
            {% endif %}

        </div>
		{% if ligand.labels.endogenous == 'Endogenous' %}
			<!-- Endogenous -->
			<div class="tab-pane container" id="endogenous">
				{% if ligand.labels.endogenous == 'Endogenous' %}
					<p>This ligand is endogenous.</p>
				{% else %}
					<p>This ligand is not endogenous.</p>
				{% endif %}
			</div>
		{% endif %}
    </div>
    
    <br>
</div>
<br>
{% endautoescape %}
{% endblock %}

{% block addon_js %}
<!-- Make sure the Select2 JS file is included -->
<script src="{% static 'home/js/select2_4.1.0-rc.0_full.js' %}"></script>
<script src="{% static 'home/js/DataTables_v2.0.5.js' %}"></script>
<script src="{% static 'home/js/dataTables.buttons_3_0_0.js' %}"></script>
<script src="{% static 'home/js/DataTables.Colvis.js' %}"></script>
<script src="{% static 'home/js/dataTables.responsive.js' %}"></script>
<script src="{% static 'home/js/NorgesDTFilterBuilder.js' %}"></script>
<script src="{% static 'home/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'home/js/selection.js' %}"></script>
<script src="{% static 'home/js/gpcrdb.js' %}"></script>
<script src="{% static 'home/js/d3.v4.min.js' %}"></script>
<script src="{% static 'home/js/sankey.js' %}"></script>
<script src="{% static 'home/js/buttons.html5.min.js' %}"></script> <!-- For CSV -->
<script src="{% static 'home/js/jszip.min.js' %}"></script> <!-- For Excel -->

<script type="text/javascript">
    var page = '{{ page }}';


	// Parse the drug table data
	var Full_table_data = JSON.parse('{{ Full_data_drug_table|escapejs }}');
	var assayAffinityData = JSON.parse('{{ assay_affinity_json|escapejs }}');
	var assayPotencyData = JSON.parse('{{ assay_potency_json|escapejs }}');

	initializeDataTableBioactivity("#AssayAffinityTable", assayAffinityData);
	initializeDataTableBioactivity("#AssayPotencyTable", assayPotencyData);


	function initializeDataTableBioactivity(tableId, data) {
		// Define page-specific column definitions based on the type
		var pageSpecificDefs = [];

		pageSpecificDefs = [
			{ targets: [5, 9], className: 'border-left' }
		];

		// digit fixed value
		const digit_fixed = 3

		// Add common column definitions
		var columnDefs = [{ className: "dt-head-center dt-center dt-body-center expand", "targets": "_all" }].concat(pageSpecificDefs);


		// Define columns
		var columns = [
			{data: "receptor_gtp", name: "receptor_gtp", width: "5%"},
			{data: "receptor_uniprot", name: "receptor_uniprot", width: "5%"},
			{data: "receptor_species", name: "receptor_species", width: "5%"},
			{data: "receptor_family", name: "receptor_family", width: "5%"},
			{data: "receptor_class", name: "receptor_class", width: "5%"},
			{data: "type", name: "type", width: "5%"},
			{data: "min", name: "min", width: "5%"},
			{data: "avg", name: "avg", width: "5%"},
			{ 
                data: "max", 
                name: "max", 
                width: "5%", 
                render: function (data) { 
                    return (data === "" || data === null) ? data : parseFloat(data).toFixed(digit_fixed); 
                }, 
                defaultContent: "" 
            },
			{data: "source", name: "source", width: "5%"}
		];

		// Initialize the DataTable
		var table = $(tableId).DataTable({
			data: data,
			columns: columns,
			columnDefs: columnDefs,
			dom: "<'row'<'col-sm-3 dt-btn'B><'col-sm-3'f><'col-sm-'4>>" +
			"<'row'<'col-sm-12'tr>>" + 
			"<'row'<'col-sm-12'ip>>",
			paging: false,
			scrollCollapse: true,
			autoWidth: true,
			buttons: [
				{
					text: 'Reset All Filters',
					className: 'btn btn-primary',
					action: function () { reset_all(); }
				},
				{
					extend: 'csv',
					text: 'Export CSV', // Button text
					className: 'btn btn-primary' // Optional: Add Bootstrap styling
				},
				{
					extend: 'excel',
					text: 'Export Excel',
					className: 'btn btn-success'
				}
			]
		});

		// Create and apply the filters
		var column_filters = [];
		column_filters = column_filters.concat(CreateColumnFilters(table, 0, 6, "Multi-select-exact"));
		column_filters = column_filters.concat(CreateColumnFilters(table, 6, 3, "Range-float-vertical"));
		column_filters = column_filters.concat(CreateColumnFilters(table, 9, 1, "Multi-select-exact"));
		createDropdownFilters(table, column_filters);
		return table;
	}



	initializeDataTable("#Table_drugs", Full_table_data);
	function initializeDataTable(tableId, data) {
		// Define page-specific column definitions based on the type
		var pageSpecificDefs = [];

		pageSpecificDefs = [
			{ targets: [5, 9], className: 'border-left' }
		];

		// digit fixed value
		const digit_fixed = 3

		// Add common column definitions
		var columnDefs = [{ className: "dt-head-center dt-center dt-body-center expand", "targets": "_all" }].concat(pageSpecificDefs);

		// Define columns
		var columns = [
			{data: "Gene name", name: "Gene name",width: "5%", render: function (data, type, row, meta) {
				if (type === 'display') {
					const originalData = data; // Raw data
					const transformedData = data.replace('_human', '').toUpperCase(); // Transformed display value

					return '<a href="/protein/' + originalData + '/" target="_blank">' + transformedData + '</a>';
				} else if (type === 'filter') {
					// Return transformed data for the filter dropdown
					return data.replace('_human', '').toUpperCase();
				}
				return data; // Raw data for sorting
			}},
			{data: "Protein name", name: "Protein name", width: "7%"},
			{data: "Receptor family", name: "Receptor family", width: "9%"},
			{data: "Ligand type", name: "Ligand type", width: "8%"},
			{data: "Class", name: "Class", width: "7%", render: function (data) { return data.split(' (')[0]; }},
			{data: "Indication name", name: "Indication",width: "15%",render: function (data, type, row, meta) {
				if (type === 'display') {
					if (row && row.ICD11) {
						const transformedData = data || 'Unknown'; // Fallback if Indication name is missing
						const link = '/drugs/indication/' + row.ICD11 + '/'; // Create the link using row.ICD11
						return '<a href="' + link + '" target="_blank">' + transformedData + '</a>';
					} else {
						return data || ''; // Fallback to plain text if ICD11 is missing
					}
				} else if (type === 'filter') {
					// Provide the raw data for filtering
					return data || 'Unknown'; // Ensure it aligns with the displayed text
				}
				return data; // Use raw data for sorting
			}},
			{data: "ICD11", name: "ICD11", width: "7%"},
			{data: 'ATC', name: "ATC", width: "7%"},
			{data: 'Association score', name: "Association score", width: "10%", render: function (data) {return data === "" || data === null ? data : parseFloat(data).toFixed(digit_fixed);}},
			{data: "Highest_phase", name: "Highest phase", width: "3%"},
			{data: "Approved", name: "Approved", width: "8%"}
		];

		// Initialize the DataTable
		var table = $(tableId).DataTable({
			data: data,
			columns: columns,
			columnDefs: columnDefs,
			dom: "<'row'<'col-sm-3 dt-btn'B><'col-sm-3'f><'col-sm-'3>>" +  // Buttons and search bar in the same row
			"<'row'<'col-sm-12'tr>>" +                    // Table rows
			"<'row'<'col-sm-12'ip>>", // Pagination and info
			paging: false,
			scrollCollapse: true,
			autoWidth: true,
			buttons: [
				{
					text: 'Reset All Filters',
					className: 'btn btn-primary',
					action: function () { reset_all(); }
				},
				{
					extend: 'csv',
					text: 'Export CSV', // Button text
					className: 'btn btn-primary' // Optional: Add Bootstrap styling
				},
				{
					extend: 'excel',
					text: 'Export Excel',
					className: 'btn btn-success'
				}
			]
		});

		// Create and apply the filters
		var column_filters = [];
		column_filters = column_filters.concat(CreateColumnFilters(table, 0, 8, "Multi-select-exact"));
		 column_filters = column_filters.concat(CreateColumnFilters(table, 8, 2, "Range-float-vertical"));
		 column_filters = column_filters.concat(CreateColumnFilters(table, 10, 1, "Multi-select-exact"));

		createDropdownFilters(table, column_filters);

		return table;
	}

	function reset_all() {
        $('.select2').val(null).trigger('change');
    }


</script>

<script>
var sankey_data = JSON.parse('{{ sankey|safe }}');
var top_nodes = '{{ nodes_nr|safe }}';
var totalPoints = '{{ points }}';
var custom_width = 1300;

// set the dimensions and margins of the graph
// set height iteratively based on highest number of nodes
SankeyPlot(sankey_data, 'sankey_plot', top_nodes, totalPoints, custom_width);
</script>

<script type="text/javascript">
	function openPopup(url, title, win, w, h) {
		const y = win.top.outerHeight / 2 + win.top.screenY - (h / 2);
		const x = win.top.outerWidth / 2 + win.top.screenX - (w / 2);
		return win.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + y + ', left=' + x);
	}

    function populate_selection(id){
			  ClearSelection("targets");
        AddToSelection("targets", "family", id);
        SelectFullSequence("segments");
        window.open("/mutations/render", "_blank");

    }

	function getCookie(c_name) {
		if (document.cookie.length > 0) {
			c_start = document.cookie.indexOf(c_name + "=");
			if (c_start != -1) {
				c_start = c_start + c_name.length + 1;
				c_end = document.cookie.indexOf(";", c_start);
				if (c_end == -1) c_end = document.cookie.length;
				return unescape(document.cookie.substring(c_start, c_end));
			}
		}
		return "";
	}

	$(document).ready(function() {


        function getCookie(name) {
			let cookieValue = null;
			if (document.cookie && document.cookie !== '') {
				const cookies = document.cookie.split(';');
				for (let i = 0; i < cookies.length; i++) {
					const cookie = cookies[i].trim();
					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) === (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		const csrftoken = getCookie('csrftoken');
	});

</script>
<script type="text/javascript">
	function read_ids() {
		var ids = [];
		var table = document.getElementById("ligand_id")
		var ligand_id = table.childNodes[0].data;
		return ligand_id
	}
</script>
{% endblock %}

{% block addon_css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'home/css/button_spinner.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/select2_4.1.0-rc.0._full.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'home/css/structure_browser.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'home/css/jquery.dataTables.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/construct_browser.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/NewDrugsBrowser_datatables.min.css' %}" type="text/css"/>
<link href="{% static 'home/css/construct_alignment.css' %}" rel="stylesheet">
<link href="{% static 'home/css/sequenceviewer.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'home/css/jquery.powertip.css' %}" />
<link rel="stylesheet" href="{% static 'home/css/bootstrap2-toggle.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/modal.css' %}" type="text/css" />
<style type="text/css">
	.select2-result-label {
		font-size: x-small;
		font-size: 10px;
	}

	#filters {
		font-size: 10px;
		padding: 7px 15px;
	}

	@media (min-width: 1800px) {
		#content {
			width: 1770px;
		}
	}

	table.dataTable.compact thead th.over_header {
		border-right: 1px solid;
		border-left: 0px solid;
		text-align: left;
		padding: 4px 4px 4px 4px;
	}

	table.dataTable.compact thead tr.over_header th {
		border-bottom: 1px solid #ccc;
	}

	table.dataTable.compact thead th.leftborder {
		border-left: 1px solid;
	}

	table.dataTable.compact thead th.rightborder {
		border-right: 1px solid;
	}

	table.dataTable.compact thead th.checkbox_tr {
		text-align: left;
		padding: 4px 4px 4px 4px;
	}

	table.dataTable.compact thead th {
		padding: 4px 16px 4px 2px;
	}

	.highlight {
		background-color: rgb(204, 229, 255);
	}

	.name {
		width: 70%;
		text-overflow: ellipsis;
		cursor: pointer;
		word-break: break-all;
		overflow: hidden;
		white-space: nowrap;
	}

	.name:hover {
		overflow: visible;
		white-space: normal;

	}

	.zoom {
		transition: transform .2s;
	}

	.zoom:hover {
		ms-transform: scale(2.5);

		-webkit-transform: scale(2.5);

		transform: scale(2.5);
		background-color: white;
		border: solid 1px;
		transform: scale(2.5);
	}

	div.align-items-start table {
		table-layout: fixed;
	}

	div.align-items-start img {
		max-width: 100%;
	}

	/* From selection_drugs.html */
	.link {
	  fill: none;
	  stroke: #969696;
	  stroke-opacity: .1;
	}
	.link:hover {
	  stroke-opacity: .3;
	}
	
	.custom-dropdown {
		max-height: 500px !important; /* Set the maximum height of the dropdown */
		overflow-y: auto !important; /* Enable scrolling */
	}
	
	.custom-dropdown .select2-results__options {
		max-height: 450px !important; /* Adjust the height inside the dropdown */
		overflow-y: auto !important; /* Ensure results can scroll */
	}
	
	.border-left {
		border-left: 1px solid #cccccc !important; /* Adjust the width and color as needed */
	}
	
	/* Centered */
	th .dt-column-order {
		margin-right: -12px; /* Shift the sort arrow to the right */
	}
	th .dt-column-title {
		/* padding-left: 24px; */
		margin-left: 24px;
	}
	
	/* Additional styles */
	#targetsTable {
		table-layout: auto;  /* Ensure columns can adjust width */
		width: 100%;         /* Set table width to 100% of container */
	}
	
	/* Font size consistency */
	table.dataTable {
		font-size: 12px; /* Adjust to match your standard font size */
	}
	
	#targetsTable th {
		width: 250px !important; /* Force width on <th> elements */
		max-width: 250px;        /* Set a maximum width */
		overflow: hidden;
		white-space: nowrap;     /* Prevent line wrapping */
		text-overflow: ellipsis; /* Add ellipsis if text overflows */
	}
	
	.select2-search__field::placeholder{
		text-align:center;
	}
	.select2-container--default .select2-selection--multiple{
		overflow: hidden !important;
	}
	
	.custom-col-right {
		padding-right: 0 !important;
	}
	
	.custom-col-left {
		padding-left: 0 !important;
	}
	
	.tooltip {
		position: absolute;
		text-align: center;
		padding: 6px;
		font-size: 12px;
		background: lightgrey;
		border: 1px solid #ccc;
		border-radius: 4px;
		pointer-events: none; /* Prevents the tooltip from capturing mouse events */
		z-index: 10;
	}
	.text-greyed-out {
		fill: grey;
	}
	
	.text-bold {
		font-weight: bold;
	}
	
	.graydiv {
		height: 20px;
		width: 275px;
		background: linear-gradient(to right, white 0%, blue 100%)
	}
	
</style>

<style type="text/css">
	/* Clinical Trials Section */
	.clinical-trials {
		text-align: center;
		margin: 5px;
		padding: 5px;
		border: 1px solid #ddd;
		border-radius:8px;
		background-color: #f9f9f9;
	}
	
	.trial-stages {
		display: flex;
		justify-content: space-around;
		align-items: center;
		gap: 15px; /* Add spacing between stages */
	}
	
	.stage {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 1rem;
	}
	
	.stage span {
		margin: 5px;
	}
	
	.badge {
		display: inline-block;
		padding: 10px 15px;
		font-size: 0.9rem;
		font-weight: bold;
		border-radius: 20px;
	}
	
	.badge-i {
		background-color: #f5bcbf;
		color: #fff;
	}
	
	.badge-ii {
		background-color: #f17270;
		color: #212529;
	}
	
	.badge-iii {
		background-color: #dd2628;
		color: #fff;
	}

	.badge-approved {
		background-color: #007bff; /* #28a745 is green */
		color: #fff;
	}

	.badge-notyet {
		background-color: #D3D3D3;
		color: #fff;
	}
</style>
{% endblock %}
