{% extends "home/base.html" %}
{% load static %}
{% load utils %}

{% block addon_css %}
<link rel="stylesheet" href="{% static 'home/css/nv.d3.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/nvd3-update.css' %}" type="text/css" />
<link href="{% static 'home/css/bootstrap-responsive.css' %}" rel="stylesheet" media="screen">
<style>
  /* Css block for styling */
</style>

{% endblock %}



{% block content %}

<!-- === Navigation Tabs for Switching Views === -->
<ul class="nav nav-tabs">
  <li class="active">
    <a href="#GPCRomewheel_classic_tab" data-toggle="tab">GPCRome wheel</a>
  </li>
  <li>
    <a href="#GPCRomewheel_odorant_tab" data-toggle="tab">Odorant wheel</a>
  </li>
</ul>

<!-- === Tab Content Containers === -->
<div class="tab-content">

  <!-- ============================
       GPCRome Classic Wheel Tab
       ============================ -->
  <div id="GPCRomewheel_classic_tab" class="tab-pane fade in active">
    <div class="container-fluid" style="padding-top: 10px; font-size: 11px;">

      <!-- === Control Buttons Row === -->
      <div class="row">
        <!-- Receptor Name Format Switcher -->
        <div class="col-md-3">
          Receptor names:
          <div class="btn-group" role="group" id="gtp_plus_classic">
            <button id="GPCRome_Classic_Protein" class="btn btn-info active">Protein</button>
            <button id="GPCRome_Classic_Entrez" class="btn btn-info">Gene</button>
            <button id="GPCRome_Classic_Uniprot" class="btn btn-info">UniProt</button>
          </div>
        </div>

        <!-- Spacer -->
        <div class="col-md-1"></div>

        <!-- Icon Toggle -->
        <div class="col-md-3" style="padding-top: 5px;">
          Icon toggle:
          <button id="ToggleIconClassic" class="btn btn-info active">On</button>
        </div>

        <!-- Download Menu -->
        <div class="col-md-3">
          <div class="text-center">
            <div class="dropdown">
              <button type="button" class="btn btn-primary dropdown-toggle" style="font-size: 14px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-download" style="vertical-align: top;line-height: 1.3"></span> Download <span class="caret"></span>
              </button>
              <div class="dropdown-menu dropdown-menu-right-middle">
                <li><a class="dropdown-item" href="javascript:saveSvg(document.getElementById('GPCRome_classic_plot_svg'), 'GPCRome_classic_plot.svg');">SVG</a></li>
                <li><a class="dropdown-item" href="javascript:saveSvgAsPng(document.getElementById('GPCRome_classic_plot_svg'), 'GPCRome_classic_plot.png');">PNG</a></li>
                <li><a class="dropdown-item" href="javascript:saveSvgAsJpg(document.getElementById('GPCRome_classic_plot_svg'), 'GPCRome_classic_plot.jpg');">JPG</a></li>
                <li><a class="dropdown-item" href="javascript:saveSvgAsTiff(document.getElementById('GPCRome_classic_plot_svg'), 'GPCRome_classic_plot.tiff');">TIFF</a></li>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- === Plot & Legend Section === -->
      <div class="row" style="margin-top: 15px;">
        <div class="col-md-12 text-center">
          <!-- Optional static image -->
          <div id="image-container" data-image-url="{% static 'home/images/DataMapper/DataMapper_GPCRome_icon_legend.png' %}"></div>

          <!-- GPCRome Classic D3 Plot Target -->
          <div id="GPCRome_classic_plot" class="text-center" style="margin-top: 20px; margin-bottom: 30px;"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- =============================
       GPCRome Odorant Wheel Tab
       ============================= -->
  <div id="GPCRomewheel_odorant_tab" class="tab-pane fade">
    <div class="container-fluid" style="padding-top: 10px; font-size: 11px;">

      <!-- === Control Buttons Row === -->
      <div class="row">
        <!-- Receptor Name Format Switcher -->
        <div class="col-md-3">
          Receptor names:
          <div class="btn-group" role="group" id="gtp_plus">
            <button id="GPCRome_Odorant_Protein" class="btn btn-info active">Protein</button>
            <button id="GPCRome_Odorant_Entrez" class="btn btn-info">Gene</button>
            <button id="GPCRome_Odorant_Uniprot" class="btn btn-info">UniProt</button>
          </div>
        </div>

        <!-- Spacer -->
        <div class="col-md-1"></div>

        <!-- Icon Toggle -->
        <div class="col-md-3" style="padding-top: 5px;">
          Icon toggle:
          <button id="ToggleIconOdorant" class="btn btn-info active">On</button>
        </div>

        <!-- Download Menu -->
        <div class="col-md-3">
          <div class="text-center">
            <div class="dropdown">
              <button type="button" class="btn btn-primary dropdown-toggle" style="font-size: 14px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-download" style="vertical-align: top;line-height: 1.3"></span> Download <span class="caret"></span>
              </button>
              <div class="dropdown-menu dropdown-menu-right-middle">
                <li><a class="dropdown-item" href="javascript:saveSvg(document.getElementById('GPCRome_odorant_plot_svg'), 'GPCRome_odorant_plot.svg');">SVG</a></li>
                <li><a class="dropdown-item" href="javascript:saveSvgAsPng(document.getElementById('GPCRome_odorant_plot_svg'), 'GPCRome_odorant_plot.png');">PNG</a></li>
                <li><a class="dropdown-item" href="javascript:saveSvgAsJpg(document.getElementById('GPCRome_odorant_plot_svg'), 'GPCRome_odorant_plot.jpg');">JPG</a></li>
                <li><a class="dropdown-item" href="javascript:saveSvgAsTiff(document.getElementById('GPCRome_odorant_plot_svg'), 'GPCRome_odorant_plot.tiff');">TIFF</a></li>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- === Plot & Legend Section === -->
      <div class="row" style="margin-top: 15px;">
        <div class="col-md-12 text-center">
          <!-- Optional static image -->
          <div id="image-container" data-image-url="{% static 'home/images/DataMapper/DataMapper_GPCRome_icon_legend.png' %}"></div>

          <!-- GPCRome Odorant D3 Plot Target -->
          <div id="GPCRome_odorant_plot" class="text-center" style="margin-top: 20px; margin-bottom: 30px;"></div>
        </div>
      </div>
    </div>
  </div>

</div>


{% endblock %}


{% block addon_js %}
<script src="{% static 'home/js/bootstrap-toggle.min.js' %}"></script>
<script src="{% static 'home/js/d3.min.js' %}"></script>
<script src="{% static 'home/js/nv.d3.min.js' %}"></script>
<script src="{% static 'home/js/d3.v4.min.js' %}"></script>
<script src="{% static 'home/js/saveSvgAsPng.js' %}"></script>
<script src="{% static 'home/js/saveSvg.js' %}"></script>
<script src="{% static 'home/js/datamapper.js' %}"></script>
<script src="{% static 'home/js/popper.min.js' %}"></script>
<script src="{% static 'home/js/spectrum_v1_8_1.js' %}"></script>

<script>



var GPCRomeWheelData = {{ GPCRomeData|safe }};
console.log(GPCRomeWheelData)

var GPCRomes_styling = {
    DataType: "Text",
    FontStyle: "Arial",
    FontsizeGlobal: "11px",
    FontsizeClass: "20px",
    showIcon: true,
    LabelType: "Protein",
    ShowLegend: true,
    LegendLayout: { "mode": "row", "columns": "1", "sorted": "Vertically" }
};

let GPCRome_location = "GPCRome_odorant_plot";
DrawGPCRomeWheel(GPCRomeWheelData, GPCRome_location, GPCRomes_styling);


</script>

{% endblock %}