{% extends "home/base.html" %}
{% load static %}
{% block addon_css %}
<link rel="stylesheet" href="{% static 'home/css/nv.d3.min.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'home/css/nvd3-update.css' %}" type="text/css" />
<style>
  .table td, .table th {
    text-align: center;
    vertical-align: middle;
  }
</style>
{% endblock %}

{% block content %}
<div class="table-responsive" style="max-height: 800px; overflow: auto;">
  <table class="table table-bordered table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Class symbol</th>
      <th>Class</th>
      <th>GRAFS Family (Fredriksson et al., 2003)</th>
      <th>Receptor families* (NC-IUPHAR)</th>
      <th>Members total</th>
      <th>Members non-sensory</th>
      <th>Members sensory</th>
      <th>Orphan (subset with proposed ligand) (Alexander et al., In prep.)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>A</td>
      <td>Rhodopsin</td>
      <td>Rhodopsin</td>
      <td></td>
      <td>289</td>
      <td></td>
      <td>10 opsins (vision)</td>
      <td>87 (54)</td>
    </tr>
    <tr>
      <td>B1</td>
      <td>Secretin</td>
      <td>Secretin</td>
      <td></td>
      <td>15</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>B2</td>
      <td>Adhesion</td>
      <td>Adhesion</td>
      <td></td>
      <td>33</td>
      <td></td>
      <td></td>
      <td>33 (7)</td>
    </tr>
    <tr>
      <td>C</td>
      <td>Glutamate</td>
      <td>Glutamate</td>
      <td></td>
      <td></td>
      <td></td>
      <td>3 Taste 1</td>
      <td>8 (1)</td>
    </tr>
    <tr>
      <td>D</td>
      <td>Fungal pheromone</td>
      <td>- (fungal)</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>E</td>
      <td>Yeast cAMP</td>
      <td>- (yeast)</td>
      <td></td>
      <td></td>
      <td></td>
      <td>2</td>
      <td></td>
    </tr>
    <tr>
      <td>F</td>
      <td>Frizzled</td>
      <td>Frizzled/Taste2</td>
      <td></td>
      <td>11</td>
      <td></td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <td>T2</td>
      <td>Taste 2</td>
      <td>Frizzled/Taste2</td>
      <td></td>
      <td>30</td>
      <td></td>
      <td>30</td>
      <td></td>
    </tr>
    <tr>
      <td>OR</td>
      <td>Odorant (not olfactory)</td>
      <td>Rhodopsin</td>
      <td></td>
      <td></td>
      <td></td>
      <td>All (390?)</td>
      <td></td>
    </tr>
    <tr>
      <td>V?</td>
      <td>Vomeronasal or pheromone?</td>
      <td>- (non-functional in human)</td>
      <td></td>
      <td></td>
      <td></td>
      <td>5</td>
      <td></td>
    </tr>
    <tr>
      <td>Cl?</td>
      <td>Classless</td>
      <td>-</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>
<div class="table-legend mt-3" style="margin-top: 10px; font-size: 14px; max-width: 100%;">
  <p>
    More information can be found on 
    <a href="https://www.guidetopharmacology.org/GRAC/FamilyDisplayForward?familyId=694&familyType=GPCR" target="_blank" rel="noopener noreferrer">this page</a>. 
    Each GPCR class also has receptor families based on shared endogenous ligand 
    (classes A, B1, B2, C and F) or sequence similarity (classes D, E, OR, T2 and V). 
    These are too many to list here but are included in the receptor classification 
    information/selection across GPCRdb data and tools. Receptors and receptor families 
    are named by the nomenclature committee of the International Union of Pharmacology and 
    are available in their database 
    <a href="https://www.guidetopharmacology.org/GRAC/ReceptorFamiliesForward?type=GPCR" target="_blank" rel="noopener noreferrer">Guide to Pharmacology</a>.
  </p>
</div>
{% endblock %}

{% block addon_js %}
<script src="{% static 'home/js/d3.min.js' %}"></script>
<script src="{% static 'home/js/nv.d3.min.js' %}"></script>
<script src="{% static 'home/js/d3.v4.min.js' %}"></script>
<script>
const colorScale = d3v4.scaleLinear()
    .domain([43, 32, 22, 13, 4]) // reversed values
    .range(["#8CD47E", "#7ABD7E", "#F8D66D", "#FFB54C", "#FF6961"])
    .interpolate(d3.interpolateRgb);  // smooth RGB interpolation

document.addEventListener("DOMContentLoaded", function () {
    const cells = document.querySelectorAll("td[data-value]");
    cells.forEach(cell => {
      const val = cell.getAttribute("data-value");
      if (val !== "-") {
        cell.style.backgroundColor = colorScale(+val);
      } else {
        cell.style.backgroundColor = "#ffffff";
      }
    });
  });
</script>
{% endblock %}
