{% extends "home/base.html" %}
{% load static %}
{% load humanize %}
{% block addon_css %}
<style>
  .graydiv {
      height: 20px;
      width: 275px;
      background: linear-gradient(to right, white 0%, black 100%)
  }
  .color_phase1 {
    color: #f5bcbf;
    font-size: 15px;
}

.color_phase2 {
    color: #f17270;
    font-size: 15px;
}

.color_phase3 {
    color: #dd2628;
    font-size: 15px;
}

.color_phase4 {
    color: #2c87c8;
    font-size: 15px;
}

.color_repurposed {
    color: #ae5dae;
    font-size: 15px;
}
.color_untapped {
    color: #C0C0C0;
    font-size: 15px;
}

.color_sensory {
    color: #A3D9C8;
    font-size: 15px;
}
</style>
{% endblock %}

{% block content %}
<div style="padding-top: 10px; font-size: 11px; white-space: nowrap;">
  <div class="col-md-12">
    <div class="col-md-12" style="margin-bottom: 40px;">
      <br>
      The GPCRome wheel plot shows the highest clinical phase drugs have reached for each receptor.<br>
      <br>
    </div>

    <ul class="nav nav-tabs">
        <li class="active">
          <a href="#gpcrome" data-toggle="tab">Drugged GPCRome</a>
        </li>
        <li>
          <a href="#repurposed" data-toggle="tab">Repurposed Tree</a>
        </li>
        <li>
          <a href="#tree" data-toggle="tab">Tree visualization</a>
        </li>
    </ul>

    <!-- ## Tab content ## -->
    <div class="tab-content">
      <div id="gpcrome" class="tab-pane fade in active">
        <div style="padding-top: 10px; font-size: 11px; white-space: nowrap;">
          <div class="col-md-12">
            <br>
            <div class="col-md-2">
              Receptor names:
              <div class="btn-group" role="group" id="gtp_plus">
                  <button id="GPCRome_UniProtNames" class="btn btn-info ">Gene</button>
                  <button id="GPCRome_IUPHARNames" class="btn btn-info active">Protein</button>
              </div>
            </div>

            <div class="col-md-2" style="padding-top: 5px;">
              Icon toggle:
              <button id="ToggleIcon" class="btn btn-info active">On</button>
            </div>

            <div class="col-md-2">
              <div class="text-center">
                <div class="dropdown">
                  <button type="button" class="btn btn-primary dropdown-toggle" style="font-size: 14px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-download" style="vertical-align: top;line-height: 1.3"></span> Download <span class="caret"></span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right-middle">
                    <li><a class="dropdown-item" href="javascript:saveSvg(document.getElementById('GPCRome_plot_svg'), 'GPCRome_plot.svg');">SVG</a></li>
                    <li><a class="dropdown-item" href="javascript:saveSvgAsPng(document.getElementById('GPCRome_plot_svg'), 'GPCRome_plot.png');">PNG</a></li>
                    <li><a class="dropdown-item" href="javascript:saveSvgAsJpg(document.getElementById('GPCRome_plot_svg'), 'GPCRome_plot.jpg');">JPG</a></li>
                    <li><a class="dropdown-item" href="javascript:saveSvgAsTiff(document.getElementById('GPCRome_plot_svg'), 'GPCRome_plot.tiff');">TIFF</a></li>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-1">
              <div style="float: left; position: relative;margin-bottom: -150px;margin-top: 50px;" class="text-center">
                <b style="font-size: 15px;">Color scheme</b> <br/>
                    <span class="color_phase1">&#9644; <b>Phase 1</b></span><br/>
                    <span class="color_phase2">&#9644; <b>Phase 2</b></span><br/>
                    <span class="color_phase3">&#9644; <b>Phase 3</b></span><br/>
                    <span class="color_phase4">&#9644; <b>Phase 4</b></span><br/>
                    <span class="color_untapped">&#9644; <b>Untapped targets</b></span><br/>
                    <span class="color_sensory">&#9644; <b>Sensory</b></span>

              </div>
            </div>
          <br />
          <br />
          <br />

          <div id="image-container" data-image-url="{% static 'home/images/DataMapper_GPCRome_icon_legend.png' %}"></div>
          <!-- GPCRome -->
          <div class="col-md-12" style="margin-top: 0px;margin-bottom: 30px;">
              <div id="GPCRome_plot" class="text-center"></div>
          </div>

          </div>
        </div>
      </div>
      <div id="repurposed" class="tab-pane fade">
        <div style="padding-top: 10px; font-size: 11px; white-space: nowrap;">
          <div class="col-md-12">
            <br>
            <div class="col-md-3">
              Receptor names:
                <div class="btn-group" role="group" id="gtp_plus">
                    <button id="rep_TREE_UniProtNames" class="btn btn-info active">Gene</button>
                    <button id="rep_TREE_IUPHARNames" class="btn btn-info">Protein</button>
                </div>
            </div>
            <div class="col-md-6">
              <div class="text-center">
                <div class="dropdown">
                  <button type="button" class="btn btn-primary dropdown-toggle" style="font-size: 14px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-download" style="vertical-align: top;line-height: 1.3"></span> Download <span class="caret"></span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right-middle">
                    <li><a class="dropdown-item" href="javascript:saveSvg(document.getElementById('rep_tree_plot_svg'), 'Tree.svg');">SVG</a></li>
                    <li><a class="dropdown-item" href="javascript:saveSvgAsPng(document.getElementById('rep_tree_plot_svg'), 'Tree.png');">PNG</a></li>
                    <li><a class="dropdown-item" href="javascript:saveSvgAsJpg(document.getElementById('rep_tree_plot_svg'), 'Tree.jpg');">JPG</a></li>
                    <li><a class="dropdown-item" href="javascript:saveSvgAsTiff(document.getElementById('rep_tree_plot_svg'), 'Tree.tiff');">TIFF</a></li>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div style="float: left; position: relative" class="text-center">
                <b>Agent/Drugs</b> <br/>
                    <span class="color_phase3">&#9644; <b>New agents in trial</b></span>
                    <span class="color_repurposed">&#9644; <b>Repurposed drugs</b></span>
                    <span class="color_phase4">&#9644; <b>Approved drugs</b></span>
              </div>
            </div>
            <!-- ############# -->
            <!-- # TREE plot # -->
            <!-- ############# -->
            <div class="col-md-12" style="margin-top: 0px;margin-bottom: 30px;">
                <div id="rep_tree_plot" class="text-center"></div>
            </div>
          </div>
        </div>
      </div>
      <div id="tree" class="tab-pane fade">
        <div style="padding-top: 10px; font-size: 11px; white-space: nowrap;">
          <div class="col-md-12">
            <br>
            <div class="col-md-3">
              Receptor names:
                <div class="btn-group" role="group" id="gtp_plus">
                    <button id="TREE_UniProtNames" class="btn btn-info active">Gene</button>
                    <button id="TREE_IUPHARNames" class="btn btn-info">Protein</button>
                </div>
            </div>
            <div class="col-md-6">
              <div class="text-center">
                <div class="dropdown">
                  <button type="button" class="btn btn-primary dropdown-toggle" style="font-size: 14px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-download" style="vertical-align: top;line-height: 1.3"></span> Download <span class="caret"></span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right-middle">
                    <li><a class="dropdown-item" href="javascript:saveSvg(document.getElementById('tree_plot_svg'), 'Tree.svg');">SVG</a></li>
                    <li><a class="dropdown-item" href="javascript:saveSvgAsPng(document.getElementById('tree_plot_svg'), 'Tree.png');">PNG</a></li>
                    <li><a class="dropdown-item" href="javascript:saveSvgAsJpg(document.getElementById('tree_plot_svg'), 'Tree.jpg');">JPG</a></li>
                    <li><a class="dropdown-item" href="javascript:saveSvgAsTiff(document.getElementById('tree_plot_svg'), 'Tree.tiff');">TIFF</a></li>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div style="float: left; position: relative" class="text-center">
                <b>Clinical phase</b> <br/>
                    <span class="color_phase1">&#9644; <b>Phase 1</b></span>
                    <span class="color_phase2">&#9644; <b>Phase 2</b></span>
                    <span class="color_phase3">&#9644; <b>Phase 3</b></span>
                    <span class="color_phase4">&#9644; <b>Phase 4</b></span>
              </div>
            </div>
            <!-- ############# -->
            <!-- # TREE plot # -->
            <!-- ############# -->
            <div class="col-md-12" style="margin-top: 0px;margin-bottom: 30px;">
                <div id="tree_plot" class="text-center"></div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}

{% block addon_js %}
<script src="{% static 'home/js/d3.min.js' %}"></script>
<script src="{% static 'home/js/nv.d3.min.js' %}"></script>
<script src="{% static 'home/js/d3.v4.min.js' %}"></script>
<script src="{% static 'home/js/saveSvgAsPng.js' %}"></script>
<script src="{% static 'home/js/saveSvg.js' %}"></script>
<script src="{% static 'home/js/datamapper.js' %}"></script>
<script src="{% static 'home/js/popper.min.js' %}"></script>
<script src="{% static 'home/js/popper.min.js' %}"></script>
<script src="{% static 'home/js/spectrum_v1_8_1.js' %}"></script>
<script src="{% static 'home/js/ml.js' %}"></script>
<script src="{% static 'home/js/d3.tip.js' %}"></script>
<script>

var GPCRome_categories_data = {{ GPCRome_data|safe }};
var fill_data = {{ GPCRome_data_variables|safe }};
var GPCRome_Label_conversion_dict = {{GPCRome_Label_Conversion|safe}};

const receptorData = {"kisspeptin receptor": 5, "PKR<sub>2</sub>": 5, "LPA<sub>6</sub> receptor": 5, "Rhodopsin": 6, "OPN3": 6, "OPN4": 6, "OPN5": 6, "OPN1SW": 6,
 "OPN1MW": 6, "OPN1LW": 6, "GPR20": 5, "GPR50": 5, "GPR65": 5, "GPR68": 5, "ADGRE2": 5, "CELSR1": 5, "ADGRG1": 5, "ADGRG2": 5, "ADGRG6": 5, "ADGRV1": 5,
 "mGlu<sub>1</sub> receptor": 5, "mGlu<sub>6</sub> receptor": 5, "mGlu<sub>7</sub> receptor": 5, "TAS1R1": 6, "TAS1R2": 6, "TAS1R3": 6, "GPR179": 5, "FZD<sub>2</sub>": 5,
 "FZD<sub>4</sub>": 5, "FZD<sub>5</sub>": 5, "FZD<sub>6</sub>": 5, "o51a2_human": 6, "o51a4_human": 6, "o51a7_human": 6, "o51b2_human": 6, "o51b4_human": 6, "o51b5_human": 6,
  "o51b6_human": 6, "o51d1_human": 6, "o51e1_human": 6, "o51e2_human": 6, "o51f1_human": 6, "o51f2_human": 6, "o51g1_human": 6, "o51g2_human": 6, "o51i1_human": 6, "o51i2_human": 6,
  "o51j1_human": 6, "o51l1_human": 6, "o51m1_human": 6, "o51q1_human": 6, "o51s1_human": 6, "o51t1_human": 6, "o51v1_human": 6, "or1a1_human": 6, "or1g1_human": 6, "o2t11_human": 6,
   "TAS2R1": 6, "TAS2R3": 6, "TAS2R4": 6, "TAS2R5": 6, "TAS2R7": 6, "TAS2R8": 6, "TAS2R9": 6, "TAS2R10": 6, "TAS2R13": 6, "TAS2R14": 6, "TAS2R16": 6, "TAS2R19": 6, "TAS2R20": 6,
    "TAS2R30": 6, "TAS2R31": 6, "TAS2R38": 6, "TAS2R39": 6, "TAS2R40": 6, "TAS2R41": 6, "TAS2R42": 6, "TAS2R43": 6, "TAS2R45": 6, "TAS2R46": 6, "TAS2R50": 6, "TAS2R60": 6, "GPR137": 5, "GPR143": 5};

// Function to update fill_data based on receptorData
function updateFillData_missingData(data, data_update) {
    for (const receptorName in data_update) {
        // console.log(receptorName);
        // Check if the receptorName exists in fill_data
        if (data.hasOwnProperty(receptorName)) {
            // Update the Value1 field with the value from receptorData
            data[receptorName]["Value1"] = receptorData[receptorName];
        }
    }
}

// Execute the function to update fill_data
updateFillData_missingData(fill_data, receptorData);


// Initialize the conversion dictionary
GPCRome_Label_conversion_dict = initializeGPCRomeLabelConversionDict(GPCRome_Label_conversion_dict);

function initializeGPCRomeLabelConversionDict(conversionDict) {
    const updatedDict = {};

    Object.keys(conversionDict).forEach(originalLabel => {
        let uniProtLabel = conversionDict[originalLabel];
        uniProtLabel = uniProtLabel.replace(/_human$/, "").toUpperCase(); // Remove "_human" and convert to uppercase
        updatedDict[originalLabel] = uniProtLabel;
    });

    return updatedDict;
}

// # Initialize data styling #
var layout_data = GPCRome_initializeData(GPCRome_categories_data);

const GPCRome_fill_data_values = Object.values(fill_data).map(receptor => receptor.Value1);
const GPCRome_fill_minValue = Math.min(...GPCRome_fill_data_values);
const GPCRome_fill_maxValue = Math.max(...GPCRome_fill_data_values);
// Calculate median
// Sort the values in ascending order
GPCRome_fill_data_values.sort((a, b) => a - b);

// Calculate the median
let GPCRome_fill_medianValue;
const middleIndex = Math.floor(GPCRome_fill_data_values.length / 2);

if (GPCRome_fill_data_values.length % 2 === 0) {
    // Even number of elements, median is the average of the two middle values
    GPCRome_fill_medianValue = (GPCRome_fill_data_values[middleIndex - 1] + GPCRome_fill_data_values[middleIndex]) / 2;
} else {
    // Odd number of elements, median is the middle value
    GPCRome_fill_medianValue = GPCRome_fill_data_values[middleIndex];
}

GPCRome_fill_avg = (GPCRome_fill_minValue+GPCRome_fill_maxValue)/2

var GPCRomes_styling = {
  Spacing: true,
  family: true,
  datatype: "Druggome",
  minValue: GPCRome_fill_minValue,
  median_value: GPCRome_fill_medianValue,
  avg_value: GPCRome_fill_avg,
  maxValue: GPCRome_fill_maxValue,
  colorStart: "#D3D3D3",
  color_median: "#696969",
  colorEnd: "#000000",
  data_color_complexity: 'Two',
  showIcon: true  // Add this property to control the icon visibility
}


// # initial draw
let GPCRome_location = "GPCRome_plot";
Draw_GPCRomes(layout_data, fill_data, GPCRome_location, GPCRomes_styling);

// Global variables for current label type
let currentLabelType = "IUPHAR"; // Default

// Event listeners for label type buttons
document.getElementById("GPCRome_UniProtNames").addEventListener("click", () => {
    switchLabelType("UniProt");
});

document.getElementById("GPCRome_IUPHARNames").addEventListener("click", () => {
    switchLabelType("IUPHAR");
});

// Function to switch label types
function switchLabelType(labelType) {
    currentLabelType = labelType;
    updateGPCRome();
}


// Function to toggle the icon visibility and redraw the GPCRomes
function toggleIcon() {
    const button = d3.select("#ToggleIcon");

    // Toggle the showIcon property in GPCRomes_styling
    GPCRomes_styling.showIcon = !GPCRomes_styling.showIcon;

    // Update button text and state
    if (GPCRomes_styling.showIcon) {
        button.text("On");
        button.classed("active", true);
    } else {
        button.text("Off");
        button.classed("active", false);
    }

    // Redraw the GPCRomes with the updated icon state
    updateGPCRome();
}

// Attach event listener to the button
d3.select("#ToggleIcon").on("click", toggleIcon);

// Function to update and redraw GPCRomes
function updateGPCRome() {
    const updatedLayoutData = updateLayoutData(layout_data, GPCRome_Label_conversion_dict, currentLabelType);
    const updatedFillData = updateFillData(fill_data, GPCRome_Label_conversion_dict, currentLabelType);

    // Clear the existing SVG content
    d3.select("#" + GPCRome_location).select("svg").remove();

    // Redraw the GPCRomes with the updated data
    Draw_GPCRomes(updatedLayoutData, updatedFillData, GPCRome_location, GPCRomes_styling);

    // Update button active states
    // updateActiveButtonState(currentLabelType);
}

// Function to update layout data
function updateLayoutData(layout_data, conversionDict, labelType) {
    const updatedData = {};

    Object.keys(layout_data).forEach(GPCRomeKey => {
        const GPCRome = layout_data[GPCRomeKey];
        updatedData[GPCRomeKey] = {};

        Object.keys(GPCRome).forEach(ligandType => {
            const receptors = GPCRome[ligandType];
            updatedData[GPCRomeKey][ligandType] = receptors.map(receptor => {
                if (labelType === "UniProt") {
                    return conversionDict[receptor] || receptor;
                } else {
                    return Object.keys(conversionDict).find(key => conversionDict[key] === receptor) || receptor;
                }
            });
        });
    });

    return updatedData;
}

// Function to update fill data
function updateFillData(fill_data, conversionDict, labelType) {
    const updatedData = {};

    Object.keys(fill_data).forEach(receptor => {
        let updatedReceptor;
        if (labelType === "UniProt") {
            updatedReceptor = conversionDict[receptor] || receptor;
        } else {
            updatedReceptor = Object.keys(conversionDict).find(key => conversionDict[key] === receptor) || receptor;
        }
        updatedData[updatedReceptor] = fill_data[receptor];
    });

    return updatedData;
}
</script>
<script type="text/javascript" charset="utf-8">

  // Set dropdown to keep open
  $('.dropdown-menu').on('click', function(event){
      event.stopPropagation();
    });

    // # Initialize data #
    tree_data = {{ tree | safe }};
    tree_options = {{ tree_options | safe }};
    Tree_circles = {{ circles|safe }};
    Tree_label_dict = {{ whole_dict|safe }};
    // # repurposed data #
    rep_tree_data = {{ rep_tree | safe }};
    rep_tree_options = {{ rep_tree_options | safe }};
    rep_tree_circles = {{ rep_circles|safe }};
    rep_tree_label_dict = {{ rep_whole_dict|safe }};

    tree_data = update_tree_data(tree_data,tree_options.depth);
    rep_tree_data = update_tree_data(rep_tree_data, rep_tree_options.depth);

    // Handler for one class -> reduce the depth
    if (tree_options.depth == 4) {
      maxLeafNodeLength = 4*parseInt(tree_options.fontSize.receptor);
    } else if (tree_options.depth == 3) {
      maxLeafNodeLength = 4*parseInt(tree_options.fontSize.receptorfamily);
    }

    circle_size = 6;
    circle_spacer = circle_size*2+1;
    circle_spacer = circle_spacer+5

    var Tree_circle_styling_dict = {
      "Inner":'Drugged_tree',
      "Outer1":"Two",
      "Outer2":"Two",
      "Outer3":"Two",
      "Outer4":"Two",
      "Outer5":"Three",
    }

    Tree_colors = {"Outer1":["#FCE8E8","#dd2628"],
                  "Outer2":["#FCE8E8","#dd2628"],
                  "Outer3":["#FCE8E8","#dd2628"],
                  "Outer4":["#E8F4FB","#2c87c8"],
                  "Outer5":["#FFFFFF","#FFA500"]};

    rep_tree_colors = {"Inner":["#FFFFFF","#FFFFFF"],
                  "Outer1":["#FFFFFF","#dd2628"],
                  "Outer2":["#FFFFFF","#ae5dae"],
                  "Outer3":["#FFFFFF","#2c87c8"],
                  "Outer4":["#FFFFFF","#FFFFFF"],
                  "Outer5":["#FFFFFF","#FFFFFF"]};
    Bar_colors = {"PhaseI-III": ["#FCE8E8","#dd2628"],
                  "PhaseIV": ["#E8F4FB","#2c87c8"]};
    Tree_bar_styling = {"PhaseI-III": "Two", "PhaseIV": "Two"};

    Tree_datatype = {"PhaseI-III": "Continuous", "PhaseIV": "Continuous"};

   // Data for phases with specific labels
    const phases = [
      { label: "Phase IV" },
      { label: "III" },
      { label: "II" },
      { label: "I" }
    ];

    // Function to draw labels to the left of a specific node
    function DrawLabelsToLeftOfNode(location, data, nodeId, offsetX, offsetY) {
      // Select the SVG element by ID
      var svg = d3.select('#' + location);

      // Find the specific node by its ID (e.g., X5HT1A)
      const leaf = svg.select(`g[id='X${nodeId}']`);

      // Check if the target node exists
      if (!leaf.empty()) {
        // Position the text labels relative to the target node
        data.forEach((d, i) => {
          leaf.append("text")
            .attr("id", `phase-label-${i}`)              // Assign unique ID to each label
            .attr("x", i * -offsetX)                     // Place text to the left of the node
            .attr("y", offsetY - 167)                    // Stack labels vertically with offset
            .text(d.label)                               // Add label text
            .attr("font-size", "14px")
            .attr("fill", "black")
            .attr("text-anchor", "end")                  // Align text to the end
            .attr("class", "phase-label")
            .attr("transform", `rotate(87, ${i * -offsetX - 28}, ${offsetY})`) // Rotate around the text position
            .style("dominant-baseline", "middle");       // Align text vertically
        });
      }
    }

    // stupid workaround changeLeavesLabels
    function updatePhaseLabels(newLabels, labelType, maxLeafNodeLength) {
      newLabels.forEach((label, i) => {
        const labelElement = d3.select(`#phase-label-${i}`);

        // Update label text
        labelElement.text(label);

        // Adjust x position if labelType is "IUPHAR"
        if (labelType === "IUPHAR") {
          const currentY = parseFloat(labelElement.attr("y"));
          if (currentY !== -257){
            labelElement.attr("y", currentY - 50);
          }
        } else {
          const currentY = parseFloat(labelElement.attr("y"));
          if (currentY !== -207){
            labelElement.attr("y", currentY + 50);
          }
        }
      });
    }

    function addBackgroundToText(svgId) {
  // Select the SVG element by ID and target all node groups with text
  const svg = d3.select(`#${svgId}`);
  
  // Select all text elements within node groups
  svg.selectAll(".node text").each(function() {
    const textElement = d3.select(this);
    const bbox = this.getBBox(); // Get bounding box of the text element

    // Insert a rectangle behind the text within the same group
    d3.select(this.parentNode)
      .insert("rect", "text")
      .attr("x", bbox.x - 2)          // Position rect slightly to the left
      .attr("y", bbox.y - 2)          // Position rect slightly above the text
      .attr("width", bbox.width + 4)  // Slightly wider than text
      .attr("height", bbox.height + 4) // Slightly taller than text
      .attr("fill", "white");         // Background color
  });
}
    // Repurposed checking
    rep_tree_options.fontSize.class = "18px";
    rep_tree_options.fontSize.ligandtype = "18px";
    rep_tree_options.fontSize.receptorfamily = "18px";
    rep_tree_options.fontSize.receptor = "17px";
    rep_tree_options.anchor = "rep_tree_plot";
    // # Change leaves buttons #
    $("#TREE_UniProtNames").click(function(){
        $("#TREE_UniProtNames").addClass("active");
        $("#TREE_IUPHARNames").removeClass("active");
        changeLeavesLabels("tree_plot", "UniProt", Tree_label_dict);
        DrawCircles('tree_plot', Tree_circles, maxLeafNodeLength, Tree_colors, true, true, Tree_circle_styling_dict, circle_spacer, circle_size);
        // Finally, restore original labels
        // updatePhaseLabels(["Phase IV", "III", "II", "I"],"UniProt",maxLeafNodeLenght);
    });
    $("#TREE_IUPHARNames").click(function() {
      $("#TREE_UniProtNames").removeClass("active");
      $("#TREE_IUPHARNames").addClass("active");
      changeLeavesLabels("tree_plot","IUPHAR", Tree_label_dict);
      DrawCircles('tree_plot', Tree_circles, maxLeafNodeLength, Tree_colors, true, true, Tree_circle_styling_dict, circle_spacer, circle_size);
    });

    // # Change leaves buttons #
    $("#rep_TREE_UniProtNames").click(function(){
        $("#rep_TREE_UniProtNames").addClass("active");
        $("#rep_TREE_IUPHARNames").removeClass("active");
        changeLeavesLabels("rep_tree_plot", "UniProt", rep_tree_label_dict);
        DrawCircles('rep_tree_plot', rep_tree_circles, maxLeafNodeLength, rep_tree_colors, true, true, Tree_circle_styling_dict, circle_spacer, circle_size);
      // Finally, restore original labels
      // updatePhaseLabels(["Phase IV", "III", "II", "I"],"IUPHAR",maxLeafNodeLenght);
    });
    $("#rep_TREE_IUPHARNames").click(function() {
      $("#rep_TREE_UniProtNames").removeClass("active");
      $("#rep_TREE_IUPHARNames").addClass("active");
      changeLeavesLabels("rep_tree_plot", "IUPHAR", rep_tree_label_dict);
      DrawCircles('rep_tree_plot', rep_tree_circles, maxLeafNodeLength, rep_tree_colors, true, true, Tree_circle_styling_dict, circle_spacer, circle_size);
    });

    // # Initialize tree plot #
    document.addEventListener("DOMContentLoaded", function() {
      draw_tree(tree_data, tree_options, circle_size);
      DrawCircles('tree_plot', Tree_circles, maxLeafNodeLenght, Tree_colors, true, true, Tree_circle_styling_dict, circle_spacer, circle_size);
      draw_tree(rep_tree_data, rep_tree_options, circle_size);
      DrawCircles('rep_tree_plot', rep_tree_circles, maxLeafNodeLength, rep_tree_colors, true, true, Tree_circle_styling_dict, circle_spacer, circle_size);
    });
</script>

<script type="text/javascript" charset="utf-8">

  // Set dropdown to keep open
  $('.dropdown-menu').on('click', function(event){
      event.stopPropagation();
    });

    // # Initialize data #
    rep_tree_data = {{ rep_tree | safe }};
    rep_tree_options = {{ rep_tree_options | safe }};
    rep_Tree_circles = {{ rep_circles|safe }};
    rep_Tree_label_dict = {{ rep_whole_dict|safe }};
    
    rep_tree_data = update_tree_data(rep_tree_data, rep_tree_options.depth);
    const rep_depth = rep_tree_options.depth;  // Set this value when the page loads
    
    // Handler for one class -> reduce the depth
    if (rep_tree_options.depth == 4) {
      maxLeafNodeLenght = 4*parseInt(rep_tree_options.fontSize.receptor);
    } else if (tree_options.depth == 3) {
      maxLeafNodeLenght = 4*parseInt(rep_tree_options.fontSize.receptorfamily);
    }
    rep_circle_size = 6;
    rep_circle_spacer = rep_circle_size*2+1;
    rep_circle_spacer = rep_circle_spacer+2
    
    var rep_Tree_circle_styling_dict = {
      "Inner":'Drugged_tree',
      "Outer1":"Two",
      "Outer2":"Two",
      "Outer3":"Two",
      "Outer4":"Two",
      "Outer5":"Three",
    }
    
    rep_Tree_colors = {"Inner":["#FFFFFF","#FFFFFF"],
                  "Outer1":["#FFFFFF","#dd2628"],
                  "Outer2":["#FFFFFF","#ae5dae"],
                  "Outer3":["#FFFFFF","#2c87c8"],
                  "Outer4":["#FFFFFF","#FFFFFF"],
                  "Outer5":["#FFFFFF","#FFFFFF"]};
    
    
    rep_tree_options.fontSize.class = "18px";
    rep_tree_options.fontSize.ligandtype = "18px";
    rep_tree_options.fontSize.receptorfamily = "18px";
    rep_tree_options.fontSize.receptor = "17px";
    
    // # Change leaves buttons #
    $("#rep_TREE_UniProtNames").click(function(){
        $("#rep_TREE_UniProtNames").addClass("active");
        $("#rep_TREE_IUPHARNames").removeClass("active");
        changeLeavesLabels("rep_tree_plot", "UniProt", rep_Tree_label_dict);
        DrawCircles('rep_tree_plot', rep_Tree_circles, maxLeafNodeLenght, rep_Tree_colors, true, true,rep_Tree_circle_styling_dict, rep_circle_spacer, rep_circle_size);
    });
    $("#rep_TREE_IUPHARNames").click(function() {
      $("#rep_TREE_UniProtNames").removeClass("active");
      $("#rep_TREE_IUPHARNames").addClass("active");
      changeLeavesLabels("rep_tree_plot","IUPHAR", rep_Tree_label_dict);
      DrawCircles('rep_tree_plot', rep_Tree_circles, maxLeafNodeLenght, rep_Tree_colors, true, true, rep_Tree_circle_styling_dict, rep_circle_spacer, rep_circle_size);
    });
    // # Initialize tree plot #
    document.addEventListener("DOMContentLoaded", function() {
      draw_tree(rep_tree_data, rep_tree_options, rep_circle_size);
      DrawCircles('rep_tree_plot', rep_Tree_circles, maxLeafNodeLenght, rep_Tree_colors, true, true, rep_Tree_circle_styling_dict, rep_circle_spacer, rep_circle_size);
    });
</script>
{% endblock %}
