{% extends "home/base.html" %}
{% load static %}
{% block addon_css %}
<link rel="stylesheet" href="{% static 'home/css/structure_browser.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'home/css/NewDrugsBrowser_datatables.min.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'home/css/select2_4.1.0-rc.0._full.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'home/css/BusyLoad.css' %}" type="text/css">

<style type="text/css">
 /* Target the select2 dropdown and ensure it applies */
 .custom-dropdown {
        max-height: 500px !important; /* Set the maximum height of the dropdown */
        overflow-y: auto !important; /* Enable scrolling */
    }

    /* Adjust the inner results container */
    .custom-dropdown .select2-results__options {
        max-height: 450px !important; /* Adjust the height inside the dropdown */
        overflow-y: auto !important; /* Ensure results can scroll */
    }
    .border-left {
        border-left: 1px solid #cccccc !important; /* Adjust the width and color as needed */
    }
    /* Centered */
    th .dt-column-order {
        margin-right: -12px; /* Shift the sort arrow to the right */
    }
    
    /* Ensure proper alignment of header titles with data rows */
    th .dt-column-title {
        display: inline-block; /* Makes the content inside the <th> inline for proper alignment */
        text-align: center;    /* Align the title text in the center */
        padding-left: 24px;    /* Apply consistent padding for all lines */
        margin: 0;             /* Remove unnecessary margin */
        line-height: 1.2em;    /* Ensure consistent line spacing */
        white-space: normal;   /* Allow line breaks in the titles */
    }

    /* Add this CSS rule to keep font size consistent in tables with scrollX */
    table.dataTable {
        font-size: 12px; /* Adjust to match your standard font size */
    }
    #targetsTable th {
        width: 250px; /* Force width on <th> elements */
        max-width: 250px;        /* Set a maximum width */
        overflow: hidden;
        white-space: nowrap;     /* Prevent line wrapping */
        text-overflow: ellipsis; /* Add ellipsis if text overflows */
    }

    .select2-search__field::placeholder{
        text-align:center;
    }
    .select2-container--default .select2-selection--multiple{
        overflow: hidden !important;
    }

    .custom-col-right {
        padding-right: 0 !important;
    }

    .custom-col-left {
        padding-left: 0 !important;
    }

.dt-toggle-button {
    cursor: pointer;
    border: 1px solid #cccccc;
    background: white;
    font-size: 1rem;
    padding: 10px 0px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    white-space: nowrap; /* Prevent wrapping */
    min-width: 65px; /* Ensure enough space for text and arrow */
    max-width: 65px; /* Ensure enough space for text and arrow */
    text-align: center; /* Center the text and arrow */
}

.dt-toggle-button:hover {
    background-color: rgba(23, 53, 151, 0.3) !important; /* Light blue with 10% opacity */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15); /* Soft shadow */
    transition: background-color 0.2s ease, box-shadow 0.2s ease; /* Smooth transition */
}

#Init_loader {
    margin-left: 45%;
    top: 40%;
    position: absolute;
    display: none;
}

.busy-load-container {
    width: 80%; /* Set this to your desired width, e.g., 80% of the screen width */
    max-width: 1000px; /* Optional: Set a maximum width */
    text-align: center; /* Center the text */
}

.custom-loader-text {
    white-space: nowrap; /* Prevent text from wrapping to the next line */
}

/* Apply fixed layout to prevent overflow issues */
table.dataTable {
    table-layout: auto; /* Fixes the layout */
    width: 100%; /* Ensures the table takes up full width */
}


/* Small width for master headers and cells */
table.dataTable th.small-width,
table.dataTable td.small-width {
    min-width: 125px;
    max-width: 125px;
    width: 125px;
    text-align: center;
}

/* Medium width for child headers and cells */
table.dataTable th.medium-width,
table.dataTable td.medium-width {
    min-width: 135px;
    max-width: 150px;
    width: 150px;
    text-align: center;
}

table.dataTable th.receptor-width,
table.dataTable td.receptor-width {
    min-width: 100px;
    max-width: 100px;
    width: 100px;
    text-align: center;
}


/* Custom width for "Receptor family" */
table.dataTable th.large-width,
table.dataTable td.large-width {
    min-width: 150px;
    max-width: 160px;
    width: 160px;
    text-align: center;
}

/* Sticky column for the table body */
.sticky-column {
    position: sticky;
    left: 0;
    z-index: 1;
    background: white;
    border-right: 1px solid #cccccc; /* Optional for visual separation */
}

/* Sticky column for the 'Gene' header cell in the <thead> */
table thead tr:nth-child(3) th:first-child {
    position: sticky;
    top: 0;
    left: 0; /* Align with the body sticky column */
    z-index: 2; /* Higher than body cells */
    background: white; /* Match the header background */
    border-right: 1px solid #cccccc; /* Optional for visual clarity */
}

</style>
{% endblock %}



{% block content %}

<div id="Init_loader"></div>
<div class="container" id="Target_selection_tool_container" style="margin-top: 30px;display: none;">
    <div class="col-md-12">
        <!-- Buttons and Headers for Column Visibility Control -->
        <div class="container-fluid" style="margin-top: 15px; margin-bottom: 30px;">

            <!-- Header Row -->
            <div class="row text-center align-items-center">
                <!-- Empty Header -->
                <div class="col-md-4">
                    <h4>Target and compound information</h4>
                </div>
                <!-- Disease Indications Header -->
                <div class="col-md-5">
                    <h4>Disease indications and associations</h4>
                </div>
                <!-- Expression Header -->
                <div class="col-md-3">
                    <h4>Expression (HPA)</h4>
                </div>
            </div>

            <!-- Line Separation -->
            <div class="row">
                <div class="col-12">
                    <hr style="border-top: 1px solid #ccc; margin: 5px 0;">
                </div>
            </div>

            <!-- Buttons Row -->
            <div class="row text-center align-items-center" style="margin-top: 10px">
                <!-- Buttons for Characterization + Compounds -->
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary tab-button mb-2" data-column="0" onclick="handleButtonClick(0)">Target characterization</button>
                    <button type="button" class="btn btn-secondary tab-button mb-2" data-column="1" onclick="handleButtonClick(1)">Compounds</button>
                </div>

                <!-- Buttons for Disease Indications -->
                <div class="col-md-5">
                    <button type="button" class="btn btn-secondary tab-button mb-2" data-column="2" onclick="handleButtonClick(2)">Clinically targeted</button>
                    <button type="button" class="btn btn-secondary tab-button" data-column="3" onclick="handleButtonClick(3)">Untapped targets (disease associated)</button>
                </div>

                <!-- Buttons for Expression -->
                <div class="col-md-3">
                    <button type="button" class="btn btn-secondary tab-button mb-2" data-column="4" onclick="handleButtonClick(4)">Tissues</button>
                    <button type="button" class="btn btn-secondary tab-button" data-column="5" onclick="handleButtonClick(5)">Cancers</button>
                </div>
            </div>
        </div>
        <!-- Target selection tool table -->
        <div id=TargetSelectionToolTable_container>
            <table width="100%" class="display compact" id="TargetSelectionToolTable">
                <thead>
                    <!-- Dummy Header Row for Complex Header Fix -->
                    <tr>
                        <td colspan="23" style="text-align: center" data-dt-order="disable"></td>
                    </tr>
                    <!-- Super Header Row -->
                    <tr style="padding-top: 10px; font-size: 14px; white-space: nowrap;">
                        <th colspan="5" style="text-align:center;">Targets</th>
                        <th colspan="1" style="text-align:center;border-left: 1px solid #cccccc;">Literature</th>
                        <th colspan="2" style="text-align:center;border-left: 1px solid #cccccc;">Novelty</th>
                        <th colspan="3" style="text-align:center;border-left: 1px solid #cccccc;">Structures</th>
                        <th colspan="4" style="text-align:center;border-left: 1px solid #cccccc;">All Drugs & Agents</th>
                        <th colspan="4" style="text-align:center;border-left: 1px solid #cccccc;">Stimulatory</th>
                        <th colspan="4" style="text-align:center;border-left: 1px solid #cccccc;">Inhibitory</th>
                    </tr>
                    
                    <!-- Header Row -->
                    <tr>
                        <th class="sticky-column" style="text-align: center;">Gene</th>
                        <th style="text-align: center;">Protein</th>
                        <th style="text-align: center;">Receptor family</th>
                        <th style="text-align: center;">Ligand type</th>
                        <th style="text-align: center;">Class</th>
                        <th style="text-align: center;border-left: 1px solid #cccccc;">Publications</th>
                        <th style="text-align: center;border-left: 1px solid #cccccc;">Novelty (Pharos)</th>
                        <th style="text-align: center;">IDG target level</th>
                        <th style="text-align: center;border-left: 1px solid #cccccc;">Total</th>
                        <th style="text-align: center;">Inactive</th>
                        <th style="text-align: center;">Active</th>
                        <th style="text-align: center;border-left: 1px solid #cccccc;">Max Phase</th>
                        <th style="text-align: center;">Drugs</th>
                        <th style="text-align: center;">Agents</th>
                        <th style="text-align: center;">Ligands</th>
                        <th style="text-align: center;border-left: 1px solid #cccccc;">Max Phase</th>
                        <th style="text-align: center;">Drugs</th>
                        <th style="text-align: center;">Agents</th>
                        <th style="text-align: center;">Ligands</th>
                        <th style="text-align: center;border-left: 1px solid #cccccc;">Max Phase</th>
                        <th style="text-align: center;">Drugs</th>
                        <th style="text-align: center;">Agents</th>
                        <th style="text-align: center;">Ligands</th>
                    </tr>
                    <tr>
                        <td class="sticky-column" style="text-align: center;" data-dt-order="disable"></td>
                        <td style="text-align: center" data-dt-order="disable"></td>
                        <td style="text-align: center" data-dt-order="disable"></td>
                        <td style="text-align: center" data-dt-order="disable"></td>
                        <td style="text-align: center" data-dt-order="disable"></td>
                        <td style="text-align: center;border-left: 1px solid #cccccc;" data-dt-order="disable"></td>
                        <td style="text-align: center;border-left: 1px solid #cccccc;" data-dt-order="disable"></td>
                        <td style="text-align: center" data-dt-order="disable"></td>
                        <td style="text-align: center;border-left: 1px solid #cccccc;" data-dt-order="disable"></td>
                        <td style="text-align: center" data-dt-order="disable"></td>
                        <td style="text-align: center" data-dt-order="disable"></td>
                        <td style="text-align: center;border-left: 1px solid #cccccc;" data-dt-order="disable"></td>
                        <td style="text-align: center" data-dt-order="disable"></td>
                        <td style="text-align: center" data-dt-order="disable"></td>
                        <td style="text-align: center" data-dt-order="disable"></td>
                        <td style="text-align: center;border-left: 1px solid #cccccc;" data-dt-order="disable"></td>
                        <td style="text-align: center" data-dt-order="disable"></td>
                        <td style="text-align: center" data-dt-order="disable"></td>
                        <td style="text-align: center" data-dt-order="disable"></td>
                        <td style="text-align: center;border-left: 1px solid #cccccc;" data-dt-order="disable"></td>
                        <td style="text-align: center" data-dt-order="disable"></td>
                        <td style="text-align: center" data-dt-order="disable"></td>
                        <td style="text-align: center" data-dt-order="disable"></td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div id=TargetSelectionToolTable_disease_container>
            <!-- Target selection tool table disaease-->
            <table width="100%" class="display compact" id="TargetSelectionToolTable_disease">
                <thead>
                    <!-- Dummy Header Row for Complex Header Fix -->
                    <tr>
                        <td colspan="13" style="text-align: center" data-dt-order="disable"></td>
                    </tr>
                    <!-- Super Header Row -->
                    <tr style="padding-top: 10px; font-size: 14px; white-space: nowrap;">
                        <th colspan="5" style="text-align:center;">Targets</th>
                        <th colspan="5" style="text-align:center;border-left: 1px solid #cccccc;">Diseases</th>
                        <th colspan="2" style="text-align:center;border-left: 1px solid #cccccc;">Compounds</th>
                        <th colspan="1" style="text-align:center;border-left: 1px solid #cccccc;">Disease associations</th>
                    </tr>
                    
                    <!-- Header Row -->
                    <tr>
                        <th class="sticky-column" style="text-align: center;">Gene</th>
                        <th style="text-align: center;">Protein</th>
                        <th style="text-align: center;">Receptor family</th>
                        <th style="text-align: center;">Ligand type</th>
                        <th style="text-align: center;">Class</th>
                        <th style="text-align: center;border-left: 1px solid #cccccc;">Disease area<br>(ICD11)</th>
                        <th style="text-align: center;">Disease<br>(ICD11)</th>
                        <th style="text-align: center;">Indication area<br>(ATC)</th>
                        <th style="text-align: center;">Indication<br>(ATC)</th>
                        <th style="text-align: center;">Indication code<br>(ATC)</th>
                        <th style="text-align: center;border-left: 1px solid #cccccc;">Drugs</th>
                        <th style="text-align: center;">Agents</th>
                        <th style="text-align: center;border-left: 1px solid #cccccc;">Score</th>
                    </tr>
                    <tr>
                        <td class="sticky-column" style="text-align: center;" data-dt-order="disable"></td>
                        <td style="text-align: center" data-dt-order="disable"></td>
                        <td style="text-align: center" data-dt-order="disable"></td>
                        <td style="text-align: center" data-dt-order="disable"></td>
                        <td style="text-align: center" data-dt-order="disable"></td>
                        <td style="text-align: center;border-left: 1px solid #cccccc;" data-dt-order="disable"></td>
                        <td style="text-align: center" data-dt-order="disable"></td>
                        <td style="text-align: center" data-dt-order="disable"></td>
                        <td style="text-align: center" data-dt-order="disable"></td>
                        <td style="text-align: center" data-dt-order="disable"></td>
                        <td style="text-align: center;border-left: 1px solid #cccccc;" data-dt-order="disable"></td>
                        <td style="text-align: center" data-dt-order="disable"></td>
                        <td style="text-align: center;border-left: 1px solid #cccccc;" data-dt-order="disable"></td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
    </div>
    </div>
</div>



{% endblock %}
<!-- ### Java scripts ### -->

{% block addon_js %}
<script src="{% static 'home/js/select2_4.1.0-rc.0_full.js' %}"></script>
<script src="{% static 'home/js/NewDrugsBrowser_datatables.min.js' %}"></script>
<script src="{% static 'home/js/NorgesDTFilterBuilder.js' %}"></script>
<script src="{% static 'home/js/BusyLoad.js' %}"></script>



<script type="text/javascript">



var Full_table_data;
var Disease_table_data;
Full_table_data = JSON.parse('{{ Full_data|escapejs }}');
Disease_table_data = JSON.parse('{{ Disease_table|escapejs }}');

console.log(Disease_table_data)

let adjustTimeout; // Move this outside to make it global

// ###############################
// ### Initialization loader   ###
// ###############################
$("#Init_loader").show();
$("#Init_loader").busyLoad("show", { 
    spinner: "accordion", 
    text: "Loading data...", 
    fontSize: "2.5rem",
    textClass: "custom-loader-text", // Ensures easy access for text changes
    textPosition: "top",
    textMargin: "-6rem",
    color: "black",
    background: "white",
});

// ###############################
// ### Document ready function ###
// ###############################
$(document).ready(function() {

function updateLoaderText(newText) {
    $(".custom-loader-text").text(newText); // Dynamically update the loader's text
}

function initializeDataTableAsync(tableId, data) {
        
        // Step 1: Update loader text
        updateLoaderText("Initializing tables...");

        // Use a timeout to allow the browser to update the loader's text
        setTimeout(() => {
            initializeDataTable(tableId, data);

            // Step 2: Update loader text for filters
            updateLoaderText("Creating filters...");

            // Create filters asynchronously
            setTimeout(() => {
                createFilters();

                // Final step: Hide the loader
                $("#Init_loader").busyLoad("hide");
                $("#Init_loader").hide();

                // Show the container for the Target Selection Tool
                $("#Target_selection_tool_container").show();
                document.querySelector('button[data-column="2"]').click();
            }, 0); // Create filters asynchronously
        }, 0); // Initialize DataTable asynchronously
    }

function initializeDataTable(tableId, data) {

        // digit fixed value
        const digit_fixed = 3

        // Define columns
        var columnDefs = [
            { className: "dt-head-nowrap dt-head-center dt-center dt-body-center expand", targets: "_all" }, 
            // { targets: Array.from({ length: 1538 - 11 + 1 }, (_, i) => i + 11), visible: false },
            { targets: [5, 6, 8, 11, 15, 19], className: 'border-left' },
        ];

        // Define columns dynamically based on the type
        var columns = [
            {data: "Gene name", name: "Gene name", width: "125px", className: "small-width sticky-column", render: function (data) { return data.replace('_human', '').toUpperCase(); }},
            {data: "Protein name", name: "Protein name", width: "125px", className: "small-width"},
            {data: "Receptor family", name: "Receptor family", width: "150px", className: "medium-width"},
            {data: "Ligand type", name: "Ligand type", width: "150px", className: "medium-width"},
            {data: "Class", name: "Class", width: "125px", className: "small-width", render: function (data) { return data.split(' (')[0]; }},
            {data: "Literature", name: "No. Publications", width: "125px", className: "small-width"}, 
            {data: "Novelty (Pharos)", name: "Novelty (Pharos)", width: "125px", className: "small-width", render: function (data) { return data === "" || data === null ? data : parseFloat(data).toFixed(digit_fixed); }},
            {data: "IDG", name: "IDG target level", width: "125px", className: "small-width"},
            {data: "Total", name: "Total", width: "125px", className: "small-width"},
            {data: "Inactive", name: "Inactive", width: "125px", className: "small-width"},
            {data: "Active", name: "Active", width: "125px", className: "small-width"},
            {data: "All_Max_Phase", name: "Stimulatory_max_phase", width: "125px", className: "small-width"},
            {data: "All_Drugs", name: "All_Drugs", width: "125px", className: "small-width"},
            {data: "All_Agents", name: "All_Agents", width: "125px", className: "small-width"},
            {data: "Total_Ligands", name: "Total_Ligands", width: "125px", className: "small-width"},
            {data: "Stimulatory_max_phase", name: "All_Max_Phase", width: "125px", className: "small-width"},
            {data: "Stimulatory_Drugs", name: "Stimulatory_Drugs", width: "125px", className: "small-width"},
            {data: "Stimulatory_Agents", name: "Stimulatory_Agents", width: "125px", className: "small-width"},
            {data: "pEC50_Count", name: "pEC50_Count", width: "125px", className: "small-width"},
            {data: "Inhibitory_max_phase", name: "Inhibitory_max_phase", width: "125px", className: "small-width"},
            {data: "Inhibitory_Drugs", name: "Inhibitory_Drugs", width: "125px", className: "small-width"},
            {data: "Inhibitory_Agents", name: "Inhibitory_Agents", width: "125px", className: "small-width"},
            {data: "pIC50_Count", name: "pIC50_Count", width: "125px", className: "small-width"},
        ];

        // Initialize DataTable
        $(tableId).DataTable({
                    dom: "<'row'<'col-sm-3 dt-btn'B><'col-sm-3'f><'col-sm-'6>>" +  // Buttons and search bar in the same row
                        "<'row'<'col-sm-12'tr>>" +                               // Table rows
                        "<'row'<'col-sm-12'ip>>",                                // Pagination and info
                    order: [0, "asc"],              // Initial sort order
                    pageLength: 20,                 // Show all rows by default
                    data: data,                     // Data source
                    columns: columns,               // Column definitions
                    columnDefs: columnDefs,         // Column-specific settings
                    autoWidth: true,               // Disable automatic column width calculation
                    processing: false,              // Disable processing indicator
                    deferRender: true,              // Optimize rendering for large data sets
                    paging: true,                  // Disable pagination
                    scrollX: true,                  // Enable horizontal scrolling
                    scrollY: "50vh",                // Enable vertical scrolling with a height of 50% of the viewport
                    scrollCollapse: true,           // Allow the table to collapse vertically if data is less than `scrollY`
                    fixedHeader: false, // Disable FixedHeader
                    // fixedColumns: true,
                    buttons: [
                        { 
                            text: 'Reset filters', 
                            action: function () { reset_all(); } 
                        }
                    ],
                    initComplete : function () {
                        // Trigger the Characterization button click
                        document.querySelector('button[data-column="0"]').click();
                        
                    }
                });
}

function initializeDataTable_disease(tableId, data) {

// digit fixed value
const digit_fixed = 3

// Define columns
var columnDefs = [
    { className: "dt-head-nowrap dt-head-center dt-center dt-body-center expand", targets: "_all" }, 
    // { targets: Array.from({ length: 1538 - 11 + 1 }, (_, i) => i + 11), visible: false },
    { targets: [5, 10,12], className: 'border-left' },
];

// Define columns dynamically based on the type
var columns = [
    {data: "Gene name", name: "Gene name", width: "125px", className: "sticky-column", render: function (data) { return data.replace('_human', '').toUpperCase(); }},
    {data: "Protein name", name: "Protein name", width: "125px", render: function (data) { return data.replace('receptor', ''); }},
    {data: "Receptor family", name: "Receptor family", width: "150px",className: "receptor-width", render: function (data) { return data.replace('receptors', ''); }},
    {data: "Ligand type", name: "Ligand type", width: "150px"},
    {data: "Class", name: "Class", width: "50px", render: function (data) { return data.split(' (')[0].replace('Class ', ''); }},
    {data: "Master Indication", name: "Master Indication", width: "150px", className: "medium-width"},
    {data: "Indication", name: "Indication", width: "200px", className: "small-width"},
    {data: "ATC Parent Name", name: "ATC Parent Name", width: "125px", className: "large-width", render: function (data) {
        if (data && typeof data === 'string') {
            return data
                .toLowerCase() // Convert the entire string to lowercase
                .split(' ') // Split the string into words
                .map(word => word.charAt(0).toUpperCase() + word.slice(1)) // Capitalize the first letter of each word
                .join(' '); // Join the words back into a single string
        }
        return data; // Return unchanged if data is not a string or is empty
    } },
    {data: "ATC Name", name: "ATC Name", width: "125px", className: "small-width", render: function (data) {
        if (data && typeof data === 'string') {
            return data
                .toLowerCase() // Convert the entire string to lowercase
                .split(' ') // Split the string into words
                .map(word => word.charAt(0).toUpperCase() + word.slice(1)) // Capitalize the first letter of each word
                .join(' '); // Join the words back into a single string
        }
        return data; // Return unchanged if data is not a string or is empty
    } },
    {data: "ATC Code", name: "ATC Code", width: "125px", className: "large-width"},
    {data: "Drug Count", name: "Drug Count", width: "125px"},
    {data: "Agent Count", name: "Agent Count", width: "125px"},
    {data: "Association Score", name: "Association Score", width: "125px", className: "small-width", render: function (data) { return data === "" || data === null ? data : parseFloat(data).toFixed(digit_fixed); }},

];

// Initialize DataTable
$(tableId).DataTable({
            dom: "<'row'<'col-sm-1 dt-btn'B><'col-sm-3'f><'col-sm-'6>>" +  // Buttons and search bar in the same row
                "<'row'<'col-sm-12'tr>>" +                               // Table rows
                "<'row'<'col-sm-12'ip>>",                                // Pagination and info
            order: [0, "asc"],              // Initial sort order
            pageLength: 20,                 // Show all rows by default
            data: data,                     // Data source
            columns: columns,               // Column definitions
            columnDefs: columnDefs,         // Column-specific settings
            autoWidth: true,               // Disable automatic column width calculation
            processing: false,              // Disable processing indicator
            deferRender: true,              // Optimize rendering for large data sets
            paging: true,                  // Disable pagination
            scrollX: true,                  // Enable horizontal scrolling
            scrollY: "50vh",                // Enable vertical scrolling with a height of 50% of the viewport
            scrollCollapse: true,           // Allow the table to collapse vertically if data is less than `scrollY`
            fixedHeader: false, // Disable FixedHeader
            // fixedColumns: true,
            buttons: [
                { 
                    text: 'Reset filters', 
                    action: function () { reset_all(); } 
                }
            ]
        });
}
        // #############################
        // ###    Create Filters     ###
        // #############################

        function createFilters() {
            
            // Logic to create filters...
            var column_filters = [];
            const Table_selector = $("#TargetSelectionToolTable").DataTable();
            // CreateColumnFilters --> CreateColumnFilters(datatable_selector,column_number, column_range, filter_type)

            column_filters = column_filters.concat(CreateColumnFilters(Table_selector,0,5,"Multi-select-exact"));
            column_filters = column_filters.concat(CreateColumnFilters(Table_selector,5,2,"Range-float-vertical"));
            column_filters = column_filters.concat(CreateColumnFilters(Table_selector,7,1,"Multi-select-exact"));
            column_filters = column_filters.concat(CreateColumnFilters(Table_selector,8,3,"Range-float-vertical"));
            // column_filters = column_filters.concat(CreateColumnFilters(Table_selector,20,680,"Range-float-vertical"));

            
            
            // // Create the filteres
            createDropdownFilters(Table_selector,column_filters);
        }
        function createFilters_disease() {
            
            // Logic to create filters...
            var column_filters = [];
            const Table_selector = $("#TargetSelectionToolTable_disease").DataTable();
            // CreateColumnFilters --> CreateColumnFilters(datatable_selector,column_number, column_range, filter_type)

            column_filters = column_filters.concat(CreateColumnFilters(Table_selector,0,10,"Multi-select-exact"));
            column_filters = column_filters.concat(CreateColumnFilters(Table_selector,10,3,"Range-float-vertical"));
            // column_filters = column_filters.concat(CreateColumnFilters(Table_selector,20,680,"Range-float-vertical"));

            
            
            // // Create the filteres
            createDropdownFilters(Table_selector,column_filters);
        }

    // Run the initialization sequence
    initializeDataTableAsync("#TargetSelectionToolTable", Full_table_data);
    initializeDataTable_disease("#TargetSelectionToolTable_disease", Disease_table_data)
    createFilters_disease();
    $('#TargetSelectionToolTable_disease_container').hide();

}); // End document ready function


// range function -> mostly for the column visibility config
function range(start, end) {
        return Array.from({ length: end - start + 1 }, (_, i) => i + start);
    }

// column visibility configuration for the master button clicks
const columnVisibilityConfig = {
    0: [...range(0, 4), ...range(5, 10)], // Characterization
    1: [...range(0, 4), ...range(11, 22)], // Drugs/Agents/Ligands
    2: [...range(0, 4)], // Clinically targeted
    3: [...range(0, 4)], //  Untapped target disease associations
    4: [...range(0, 4)], //  Tissue expression 
    5: [...range(0, 4)], // Cancer expression
};



// Handle button click
function handleButtonClick(columnType) {
    clickedColumnType = columnType; // Track the clicked column

    // Update button classes for toggling primary/secondary styles
    document.querySelectorAll('.tab-button[data-column]').forEach(button => {
        if (parseInt(button.getAttribute('data-column')) === columnType) {
            button.classList.remove('btn-secondary');
            button.classList.add('btn-primary');
        } else {
            button.classList.remove('btn-primary');
            button.classList.add('btn-secondary');
        }
    });

    // Show/hide tables based on button clicked
    if (columnType === 2) {
        $('#TargetSelectionToolTable_container').hide();
        $('#TargetSelectionToolTable_disease_container').show();
    } else {
        $('#TargetSelectionToolTable_container').show();
        $('#TargetSelectionToolTable_disease_container').hide();
    }

    // Handle table column visibility only for TargetSelectionToolTable
    if (columnType !== 2) {
        let indices = columnVisibilityConfig[columnType] || []; // Dynamically get indices or fallback to empty
        const table = $('#TargetSelectionToolTable').DataTable();

        // Hide all columns
        table.columns().visible(false, false);

        // Show relevant columns
        indices.forEach(index => {
            table.column(index).visible(true, false);
        });

        table.columns.adjust(); // Adjust the table layout
    } else {
        const table = $('#TargetSelectionToolTable_disease').DataTable();
        table.columns.adjust(); // Adjust the table layout
    }
}

// Optimized function to set visibility only for specific columns
function applyColumnVisibility(columnIndices) {
    const table = $('#TargetSelectionToolTable').DataTable();
    const allColumns = table.columns();

    // Hide all columns
    allColumns.visible(false, false); // Disable redraw during visibility update

    // Make only the selected columns visible
    columnIndices.forEach(index => {
        table.column(index).visible(true, false);
    });

    table.columns.adjust(); // Adjust table layout
}


function reset_all() {
        $('.select2').val(null).trigger('change');
    }

</script>

{% endblock %}