{% extends "home/base.html" %}
{% load static %}
{% block addon_css %}
<link rel="stylesheet" href="{% static 'home/css/structure_browser.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'home/css/NewDrugsBrowser_datatables.min.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'home/css/select2_4.1.0-rc.0._full.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'home/css/BusyLoad.css' %}" type="text/css">

<style type="text/css">
/* table.dataTable thead th,
table.dataTable tbody td {
  max-width: 1px;
  word-break: break-word;
  overflow: hidden;
  white-space: nowrap;
} */
.dataTables_length {
  position: relative;
  white-space:pre-wrap; 
}

.select2-search__field::placeholder{
    text-align:center;
}
.select2-container--default .select2-selection--multiple{
    overflow: hidden !important;
}
#Init_loader {
    margin-left: 45%;
    top: 50%;
    position: absolute;
    display: none;
}

#Table1 {display: none}
</style>
{% endblock %}



{% block content %}

<!-- ### Top page ### -->

<!-- <button onclick="Debugger_log()">Debugger</button> -->

<!-- ### Create the panel tabs ### -->

<ul class="nav nav-tabs">
  <li class="active"><a href="#tab1" data-toggle="tab" >Drug Targets</a></li>
  <li><a href="#tab2" data-toggle="tab">Tissue Expression</a></li>
</ul>

<!-- ## Tab content ## -->
<div id="Init_loader"></div>
<div class="tab-content">
  <!-- ################################## -->
  <!-- ## Tab 1 - Drug targets browser ## -->
  <!-- ################################## -->
  <div id="tab1" class="tab-pane fade in active">
    <div style="padding-top: 10px; font-size: 11px; white-space: nowrap;">
      <table width="100%" class="display compact" id="Table1">
          <thead>
            <!-- ######################## -->
            <!-- ## Complex Header FIX ## -->
            <!-- ######################## -->
            <!-- !!! Stupid work around !!! Fixed headers and resposive tables havent work out the issue of complex headers yet, 
              so inserting a "dummy header row" this allows the table to correspond correctly. 
              Should have been fixed by patch 2.1.0 responsive, but still not working..." -->
            <tr>
              <!-- Index column -->
              <td style="text-align: center" data-dt-order="disable"></td>
              <!-- Target-Indication -->
              <td style="text-align: center" data-dt-order="disable"></td>
              <td style="text-align: center" data-dt-order="disable"></td>
              <!-- Info -->
              <td style="text-align: center" data-dt-order="disable"></td>
              <!-- Drugs -->
              <td style="text-align: center" data-dt-order="disable"></td>
              <td style="text-align: center" data-dt-order="disable"></td>
              <td style="text-align: center" data-dt-order="disable"></td>
              <td style="text-align: center" data-dt-order="disable"></td>
            </tr>

            <!-- ###################### -->
            <!-- ## Super header row ## -->
            <!-- ###################### -->
            <tr style="padding-top: 10px; font-size: 14px; white-space: nowrap;">
              <th colspan="1" style="text-align:center">INDEX</th>
              <th colspan="2" style="text-align:center">Target-Indication</th>
              <th colspan="1" style="text-align:center">Info</th>
              <th colspan="4" style="text-align:center">Drugs</th>
            </tr>

            <!-- ################ -->
            <!-- ## header row ## -->
            <!-- ################ -->
            <tr>
              <!-- Index column -->
              <th style="text-align: center">INDEX</th>
              <!-- Target-Indication -->
              <th style="text-align: center">Target</th>
              <th style="text-align: center">Indication</th>
              <!-- Info -->
              <th style="text-align: center">Novelty score</th>
              <!-- Drugs -->
              <th style="text-align: center">Total</th>
              <th style="text-align: center">Approved</th>
              <th style="text-align: center">In trial</th>
              <th style="text-align: center">Discontinued</th>
            </tr>

            <!-- ################ -->
            <!-- ## Filter row ## -->
            <!-- ################ -->
            <tr>
              <td style="text-align: center" data-dt-order="disable"></td>

              <td style="text-align: center" data-dt-order="disable"></td>
              <td style="text-align: center" data-dt-order="disable"></td>

              <td style="text-align: center" data-dt-order="disable"></td>

              <td style="text-align: center" data-dt-order="disable"></td>
              <td style="text-align: center" data-dt-order="disable"></td>
              <td style="text-align: center" data-dt-order="disable"></td>
              <td style="text-align: center" data-dt-order="disable"></td>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
  </div>
  <!-- ####################################### -->
  <!-- ## Tab 2 - Tissue expression Browser ## -->
  <!-- ####################################### -->
  <div id="tab2" class="tab-pane fade in">
    <div style="padding-top: 10px; font-size: 11px; white-space: nowrap;">
      <table width="100%" class="display compact" id="Table2">
        <thead>
          <!-- ######################## -->
          <!-- ## Complex Header FIX ## -->
          <!-- ######################## -->
          <!-- !!! Stupid work around !!! Fixed headers and resposive tables havent work out the issue of complex headers yet, 
            so inserting a "dummy header row" this allows the table to correspond correctly. 
            Should have been fixed by patch 2.1.0 responsive, but still not working..." -->
          <tr>
            <td style="text-align: center" data-dt-order="disable"></td>
            <td style="text-align: center" data-dt-order="disable"></td>
            {% for header in Tissue_header_list %}
            <td style="text-align: center" data-dt-order="disable"></td>
            {% endfor %}
          </tr>

          <!-- ################ -->
          <!-- ## header row ## -->
          <!-- ################ -->
          <tr>
            <!-- Index column -->
            <th style="text-align: center">INDEX</th>
            <th style="text-align: center;min-width: 115px;">Target</th>
            <!-- Expression -->
            {% for header in Tissue_header_list %}
            <th style="text-align: center">{{header|safe}}</th>
            {% endfor %}
          </tr>

          <!-- ################ -->
          <!-- ## Filter row ## -->
          <!-- ################ -->
          <tr>
            <td style="text-align: center" data-dt-order="disable"></td>
            <td style="text-align: center" data-dt-order="disable"></td>
            {% for header in Tissue_header_list %}
            <td style="text-align: center" data-dt-order="disable"></td>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
</div>
</div>


{% endblock %}
<!-- ### Java scripts ### -->

{% block addon_js %}
<!-- ## Libraries ## -->
<script src="{% static 'home/js/DataTables_v2.0.5.js' %}"></script>
<script src="{% static 'home/js/Test2.js' %}"></script>
<script src="{% static 'home/js/Test3.js' %}"></script>
<script src="{% static 'home/js/Test6.js' %}"></script>
<script src="{% static 'home/js/bootstrap2-toggle.min.js' %}"></script>
<script src="{% static 'home/js/select2_4.1.0-rc.0_full.js' %}"></script>
<script src="{% static 'home/js/dataTables.absolute.js' %}"></script>
<script src="{% static 'home/js/NorgesDTFilterBuilder.js' %}"></script>
<script src="{% static 'home/js/BusyLoad.js' %}"></script>
<script>

// ##########################################################################################################
// ##                                 Load the data as a js variable                                       ##
// ## only outside the document ready function for debugging purposes (doesnt like the django code format) ##
// ##########################################################################################################

var Drug_Targets_data = {{Drug_Targets|safe}};
var Tissue_exp_data = {{Tissue_data|safe}};
var table1;
var table2;
 
// ######################
// ## Ordering schemes ##
// ######################

var numbersType = $.fn.dataTable.absoluteOrderNumber( [
    { value: '-', position: 'bottom' }
  ] );
var namesType = $.fn.dataTable.absoluteOrder( [
  { value: 'unknown', position: 'bottom' }
] );

// ###############################
// ### Initialization loader   ###
// ###############################
$("#Init_loader").show();
$("#Init_loader").busyLoad("show", { spinner: "accordion", text: "Loading",fontSize: "3rem",textPosition: "top",textMargin: "-6rem",color: "black",background: "white",});

// ###############################
// ### Document ready function ###
// ###############################
$(document).ready(function() {
  
  // #####################################
  // ### Create Datatable 1 for Tab 1  ###
  // #####################################

  var table1 = $('#Table1').DataTable({
  // ####################
  // ## Table settings ##
  // ####################

  // ## Layout positions ##
  dom: 
  "<'row'<'col-sm-12 dt-btn'B>>" +
    "<'row'<'col-sm-6'l><'col-sm-3'><'col-sm-3'f>>" +
    "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-12'ip>>",

  // ##  Common settings ##
  order: [1,"asc"],
  pageLength: 20,
  lengthMenu: [10, 20, 50, 100, 500, 1000,{ label: 'All', value: -1 }],
  // lengthMenu: [10, 20, 50, 100, 500, 1000],
  processing: false,
  serverSide: false,
  // deferLoading: 20,
  deferRender: true,
  // serverSide: true,
  language : {
    sLengthMenu: "_MENU_"
  },
  scrollY: "50vh",
  scrollX: true,
  scrollCollapse: true,
  scroller: true,
  paging: true,
  // responsive: true,
  orderClasses: false,
  // processing: true,
  // fixedColumns: true,
  // fixedHeader: true,
  "sScrollX": "200%", 
  "sScrollXInner": "200%",
  
  // ###################
  // ## Load the data ##
  // ###################
  
  data: Drug_Targets_data,

  // ###################
  // ##  Column data  ##
  // ###################

  columns:[
  
  // #####################
  // #  Column 0 - Drugs #
  // #####################

  {data: "Index_number",
    name: "INDEX",
    width:'10%',
  visible: false},

  // #######################
  // #  Column 1 - Target  #
  // #######################

  {data: "Target_name",
    name: "Target",
    render: function (data, type, row, meta) { // To put links into the table data use the render function.
      data = '<a href="https://www.uniprot.org/uniprot/' + row.Target_uniprot + '" target="_blank">' + data + '</a>';
      return data},
    width:'10px'},
  // ###########################
  // #  Column 2 - Indication  #
  // ###########################

  {data: "Indication_name",
    name: "Indication",
    width:'15%'},
  
  // ##############################
  // #  Column 3 - Novelty score  #
  // ##############################

  {data: "Novelty_score",
    name: "Novelty score",
    width:'10%'},
  
  // ##############################
  // #  Column 4 - Drugs - total  #
  // ##############################

  {data: "Drugs_total",
    name: "Drugs total",
    width:'10%'},

  // #################################
  // #  Column 5 - Drugs - approved  #
  // #################################

  {data: "Drugs_approved",
    name: "Drugs approved",
    width:'10%'},
  
  // #################################
  // #  Column 6 - Drugs - in trial  #
  // #################################

  {data: "Drugs_in_trial",
    name: "Drugs in trial",
    width:'10%'},

   // #######################################
  // #  Column 7 - Drugs - in discontinued  #
  // ########################################

  {data: "Drugs_discontinued",
    name: "Drugs discontinued",
    width:'10%'},
  ],

  columnDefs: [
    {className: "dt-head-center dt-center dt-body-center expand", "targets": "_all"}
    ],

    buttons: [
    { 
      text: 'Table control',
      extend: 'colvis',
      columns: [0,1,2,3,4],
      popoverTitle: 'Individual columns',
      collectionLayout: ['fixed two-column'],
      popoverTitle: 'Column visibility control',
      postfixButtons: ['colvisRestore'],

      },
      {
        text: 'Reset filters',
        action: function (e, dt, node, config) {
          reset_all();
        }
              }],
  
  initComplete : function () {
          $("#Init_loader").busyLoad("hide", { spinner: "accordion", text: "Loading",fontSize: "3rem",textPosition: "top",textMargin: "-6rem"});
          $("#Init_loader").hide()
          $("#Table1").show();
          // var api = this.api();
          // api.column(0).visible( false );
        }
}); // End of DataTables 1


// #####################################
// ### Create Datatable 2 for Tab2  ###
// #####################################

// ##############################################
// # Create Column array for datatables columns #
// ##############################################

// # Initialize variables #
let table2_colums = [];
column2_list = Object.keys(Tissue_exp_data[0]); // is every key inside the first entry (and all of them)

// # Add the first two entry manually as we might want to modify these with render and/or width #
table2_colums.push({data: "Index_number", name:"INDEX", width: '10px'});
table2_colums.push({data: "ProteinName",
    name: "Target",
    render: function (data, type, row, meta) { // To put links into the table data use the render function.
      data = '<a href="https://www.uniprot.org/uniprot/' + row.ProteinID + '" target="_blank">' + data + '</a>';
      return data},
    width: '500px'});


// # For the 50 entries of tissue data -> skip the first 2 as we did those manually #
// # because the keys are the names in lowercase and with _ instead of space, for colname modify these #
// # if we wanted we could set width specifically using i in some case with an if statement #
for (var i = 3; i < column2_list.length; i++) {
  const col_data = column2_list[i];
  var col_name = column2_list[i].charAt(0).toUpperCase() + column2_list[i].slice(1);
  col_name = col_name.replace("_"," ")
  col_width = '10px'
  table2_colums.push({data: col_data, name: col_name, width: col_width});
}

var table2 = $('#Table2').DataTable({
  
  // ####################
  // ## Table settings ##
  // ####################

  // ## Layout positions ##
  dom: 
  "<'row'<'col-sm-12 dt-btn'B>>" +
    "<'row'<'col-sm-6'l><'col-sm-3'><'col-sm-3'f>>" +
    "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-12'ip>>",

  // ##  Common settings ##
  autoWidth: false,
  order: [1,"asc"],
  pageLength: 20,
  lengthMenu: [10, 20, 50, 100, 500, 1000,{ label: 'All', value: -1 }],
  processing: false,
  serverSide: false,
  deferRender: true,
  language : {
    sLengthMenu: "_MENU_"
  },
  scrollY: "50vh",
  scrollX: true,
  scrollCollapse: true,
  scroller: true,
  paging: true,
  // responsive: true,
  // orderClasses: false,
  // processing: true,
  // fixedColumns: true,
  // fixedHeader: true,
  "sScrollX": "100%", 
  "sScrollXInner": "200%",
  
  // ###################
  // ## Load the data ##
  // ###################
  
  data: Tissue_exp_data,

  // ###################
  // ##  Column data  ##
  // ###################

  columns: table2_colums,

  // ###################################################
  // ## Define ordering - Handles special case values ##
  // ###################################################
  columnDefs: [
  // { type: namesType, targets: 2},
  // { type: numbersType, targets: "_all" },
  { visible: false, targets: 0},
  {className: "dt-head-center dt-center dt-body-center", "targets": "_all"}
  
    ],
  buttons: [
  { 
    text: 'Table control',
    extend: 'colvis',
    columns: [0,1,2],
    // columns: 'th:nth-child(n-1)',
    popoverTitle: 'Individual columns',
    collectionLayout: ['fixed four-column'],
    popoverTitle: 'Column visibility control',
    postfixButtons: ['colvisRestore'],

    },
    {
      text: 'Reset filters',
      action: function (e, dt, node, config) {
        reset_all();
      }
            }],
}); // End of DataTables 2

// #############################
// ###    Create Filters     ###
// #############################

var column_filters1 = [];
// CreateColumnFilters --> CreateColumnFilters(datatable_selector,column_number, column_range, header_row, filter_type)
column_filters1 = column_filters1.concat(CreateColumnFilters(table1,0,1,3,"Multi-select-exact"));
column_filters1 = column_filters1.concat(CreateColumnFilters(table1,1,2,3,"Multi-select"));
column_filters1 = column_filters1.concat(CreateColumnFilters(table1,3,3,3,"Range_float_vertical"));
column_filters1 = column_filters1.concat(CreateColumnFilters(table1,6,2,3,"Range_float_horizontal"));
// column_filters1 = column_filters1.concat(CreateColumnFilters(table1,4,4,3,"Range_filter_float"));

var column_filters2 = [];
// CreateColumnFilters --> CreateColumnFilters(datatable_selector,column_number, column_range, header_row, filter_type)
column_filters2 = column_filters2.concat(CreateColumnFilters(table2,0,1,2,"Multi-select-exact"));
column_filters2 = column_filters2.concat(CreateColumnFilters(table2,1,1,2,"Multi-select"));
column_filters2 = column_filters2.concat(CreateColumnFilters(table2,2,50,2,"Range_float_vertical"));


// console.log(column_filters2)
// #############################
// ###   Initialize filters  ###
// #############################

// createDropdownFilters(table1,column_filters1);
createDropdownFilters(table1,column_filters1);
createDropdownFilters(table2,column_filters2);

// ##########################################
// ###   Consistant entries between tabs  ###
// ##########################################

// create filter type array to handle filters applied
filter_1_array = []
filter_1_col_array = []
      for (const [key, value] of Object.entries(column_filters1)) {
          filter_1_array.push(value[3]);
          filter_1_col_array.push(value[0]);
      }

filter_2_array = []
filter_2_col_array = []
for (const [key, value] of Object.entries(column_filters2)) {
    filter_2_array.push(value[3]);
    filter_2_col_array.push(value[0]);
}

// ###########################################################
// ###  apply the same changes to tissue expression table  ###
// ###########################################################

$('[href="#tab2"]').on('shown.bs.tab', function (e) {
  // # Function to check if no filters are applied #
  let filter_state_function = arr => arr.every(v => v === 'true');
  // # initialize variables #
  var table1_filter_state = [];
  var searchbar_table1 = table1.search();
  const table1_id = table1.table().node().id
  const table2_id = table2.table().node().id
  // # Go through all columns and filters 
  table1.columns(filter_1_col_array).every( function (index) {
          var col = this.index();
          // skip index column
          if (index == 0) {} else {
            // check which kind of filtering is applied
            if (filter_1_array[index] == 'Multi-select') {
              // if no filter is applied return true
              if ($('#'+table1_id+'_Filter'+col).val().length !== 0) {
                table1_filter_state.push('false')
              } else {
                table1_filter_state.push('true')
              }
            } else if (filter_1_array[index] == 'Range_float_vertical' || filter_1_array[index] == 'Range_float_horizontal') {
              // if no filter is applied return true
              if ($('#'+table1_id+'_Filter'+col+'min').val() !== '' || $('#'+table1_id+'_Filter'+col+'max').val() !== '') {
                table1_filter_state.push('false')
              } else {
                table1_filter_state.push('true')
              } 
            // # If the filter type is not included in if/else statement #   
            } else if (filter_1_array[index] == 'Range_filter_year') {
              // if no filter is applied return true
              if ($('#'+table1_id+'_Filter'+col+'min').val() !== '' || $('#'+table1_id+'_Filter'+col+'max').val() !== '') {
                table1_filter_state.push('false')
              } else {
                table1_filter_state.push('true')
              }
            } else if (filter_1_array[index] == undefined) { 
            } else {
              console.log("No handle for this filter type - please rewrite code appropriately")
            }
          }
  });
  
  // ######################################################################
  // ## if filters are applied set index of table2 to the same as table1 ##
  // ######################################################################
  if (filter_state_function(table1_filter_state) == true) {
    // if no filters applied to table 1 reset index of table 2
    // # Set index column to visible #
    table2.column(0).visible(true);
    // # Change the filters in table 2 to the index values of table 1 #
    $('#'+table2_id+'_Filter'+0).val(null).trigger('change');
    // # Hide index column again #
    table2.column(0).visible(false);
  } else {
    // ## If filters is applied ##
    // # Collect index from table 1 #
    var DrugTargets_indexValues = table1.column(0,{ filter :'applied' }).data().unique().toArray();
    // # Set index column to visible #
    table2.column(0).visible(true);
    // # Change the filters in table 2 to the index values of table 1 #
    $('#'+table2_id+'_Filter'+0).val(DrugTargets_indexValues).trigger('change');
    // # Hide index column again #
    table2.column(0).visible(false);
  }
});

// #####################################################
// ###  apply the same changes to drug target table  ###
// #####################################################

$('[href="#tab1"]').on('shown.bs.tab', function (e) {
  // # Function to check if no filters are applied #
  let filter_state_function = arr => arr.every(v => v === 'true');
  // # initialize variables #
  var table2_filter_state = [];
  var searchbar_table2 = table2.search();
  const table1_id = table1.table().node().id
  const table2_id = table2.table().node().id
  // # Go through all columns and filters 
  table2.columns(filter_2_col_array).every( function (index) {
          var col = this.index();
          // skip index column
          if (index == 0) {} else {
            // check which kind of filtering is applied
            if (filter_2_array[index] == 'Multi-select') {
              // if no filter is applied return true
              if ($('#'+table2_id+'_Filter'+col).val().length !== 0) {
                table2_filter_state.push('false')
              } else {
                table2_filter_state.push('true')
              }
            } else if (filter_2_array[index] == 'Range_float_vertical' || filter_2_array[index] == 'Range_float_horizontal') {
              // if no filter is applied return true
              if ($('#'+table2_id+'_Filter'+col+'min').val() !== '' || $('#'+table2_id+'_Filter'+col+'max').val() !== '') {
                table2_filter_state.push('false')
              } else {
                table2_filter_state.push('true')
              } 
            // # If the filter type is not included in if/else statement #   
            } else if (filter_2_array[index] == 'Range_filter_year') {
              // if no filter is applied return true
              if ($('#'+table2_id+'_Filter'+col+'min').val() !== '' || $('#'+table2_id+'_Filter'+col+'max').val() !== '') {
                table2_filter_state.push('false')
              } else {
                table2_filter_state.push('true')
              }
            } else if (filter_2_array[index] == undefined) { 
            } else {
              console.log("No handle for this filter type - please rewrite code appropriately")
            }
          }
  });
  
  // ######################################################################
  // ## if filters are applied set index of table2 to the same as table1 ##
  // ###################################################################### 
  
  if (filter_state_function(table2_filter_state) == true) {
    // if no filters applied to table 1 reset index of table 2
    // # Set index column to visible #
    table1.column(0).visible(true);
    // # Change the filters in table 2 to the index values of table 1 #
    $('#'+table1_id+'_Filter'+0).val(null).trigger('change');
    // # Hide index column again #
    table1.column(0).visible(false);
  } else {
    // ## If filters is applied ##
    // # Collect index from table 1 #
    var Expression_indexValues = table2.column(0,{ filter :'applied' }).data().unique().toArray();
    // # Set index column to visible #
    table1.column(0).visible(true);
    // # Change the filters in table 2 to the index values of table 1 #
    $('#'+table1_id+'_Filter'+0).val(Expression_indexValues).trigger('change');
    // # Hide index column again #
    table1.column(0).visible(false);
  }
});


}); // End document ready function

$(document).on('shown.bs.tab', 'a[data-toggle="tab"]', function (e) {
          $.fn.dataTable.tables({ visible: true, api: true}).columns.adjust();
      });  

function reset_all() {
  $( '.select2' ).val(null).trigger('change');
}

</script>
{% endblock %}